---
const heading = "Professional Experience";
const description = "Professional and personal development work.";
import WorkSVG from "@svg/WorkSVG.astro";
import ToolsSVG from "@svg/ToolsSVG.astro";
import JoystickSVG from "@svg/JoystickSVG.astro";
import Designation from "@components/chips/Designation.astro";
---

<section class="portfolio">
  <div class="grid-item">
    <h2><span class="gt">&gt;_</span>{heading}</h2>
    <p class="description">{description}</p>
    <ul class="portfolio-page-list">
      <a href="/gwmedicine" data-astro-prefetch="viewport">
        <li>
          <Designation bgColor="var(--gw-blue)"><WorkSVG slot="svg" /></Designation>GW Medicine
        </li>
      </a>
      <a href="/busom" data-astro-prefetch="viewport">
        <li>
          <Designation bgColor="var(--bu-red)"><WorkSVG slot="svg" /></Designation>BU School of
          Medicine
        </li>
      </a>
      <a href="/web-apps" data-astro-prefetch="viewport">
        <li>
          <Designation bgColor="var(--apps-green)"><ToolsSVG slot="svg" /></Designation>Web Apps
        </li>
      </a>
      <a href="/musings" data-astro-prefetch="viewport">
        <li>
          <Designation><JoystickSVG slot="svg" /></Designation>Musings
        </li>
      </a>
    </ul>
  </div>
</section>

<script>
  const section = document.querySelector("section.portfolio");
  const observer = new IntersectionObserver(
    (entries) => {
      if (entries[0].intersectionRatio === 1 && !section.classList.contains("fadeIntoView")) {
        section.classList.add("fadeIntoView");
      }
    },
    {
      threshold: 1,
    }
  );
  observer.observe(section);
</script>

<style>
  .portfolio {
    /* opacity: 0; */
    display: grid;
    grid-template-columns: 35% 63%;
    gap: 2%;
  }

  .fadeIntoView {
    animation:
      fadeIn 500ms ease-in forwards,
      shiftDown 500ms ease-in forwards;
  }

  .grid-item + .grid-item {
    /* margin-block: 3rem; */
  }

  .portfolio-page-list {
    display: flex;
    flex-direction: column;
  }

  .portfolio-page-list li {
    list-style-type: none;
    margin-left: 0;
  }

  .portfolio-page-list a {
    --border-color: #cbcbcb;
    --border-width: 1.5px;
    color: var(--text);
    border-left: solid var(--border-width) var(--border-color);
    max-width: 380px;
    height: 60px;
    padding: 0.75em 0.75em;
    text-decoration: none;
    transition: 0.3s all;
    &:hover {
      background-color: #eeeeee;
    }
  }

  .portfolio-page-list a:first-child:hover {
    border-top-color: var(--border-color);
  }

  .portfolio-page-list a:nth-child(2) {
    border-top: solid var(--border-width) var(--border-color);
    border-bottom: solid var(--border-width) var(--border-color);
  }

  .portfolio-page-list a:nth-child(3) {
    border-bottom: solid var(--border-width) var(--border-color);
  }

  .portfolio-page-list a:last-child:hover {
    border-bottom-color: var(--border-color);
  }

  .skills {
    display: grid;
  }

  .skills h3 {
    font-weight: 500;
    color: var(--primary);
    margin-block: 1.5rem;
    font-size: clamp(0.85rem, 5.5vw, 1.1rem);
  }

  .skills ul li + li {
    margin-top: 0.25rem;
  }

  ul {
    padding-left: 0;
    margin-block: 1rem;
  }

  li {
    margin-left: 1rem;
    font-size: clamp(0.9rem, 3.5vw, 1rem);

    a {
      color: var(--primary);
    }
  }

  li::marker {
    color: var(--primary);
  }

  li + li {
    margin-top: 1.5rem;
  }

  @media (max-width: 1100px) {
    .portfolio-page-list {
      max-width: fit-content;
      margin-inline: auto;
    }
    .portfolio {
      grid-template-columns: 1fr;
    }
  }
</style>
