<div class="grid-row">
  <slot name="column-1" />
  <slot name="column-2" />
</div>

<style>
  div.grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    column-gap: 3rem;
    margin-block: 1.5rem;
  }

  div.grid-row + div.grid-row {
    margin-top: 5rem;
  }

  @media (max-width: 1100px) {
    div.grid-row {
      grid-template-columns: 1fr;
    }
  }
</style>
