---
const { abbr } = Astro.props;
const abbreviationMap = {
  ts: "TypeScript",
  js: "JavaScript",
  css: "CSS",
  scss: "SCSS",
  svelte: "Svelte",
  sveltekit: "SvelteKit",
  cli: "Command-line Tool",
  wp: "WordPress",
  vue: "Vue",
  php: "PHP",
  drupal: "Drupal",
};
---

<span class={abbr}>{abbreviationMap[abbr]}</span>

<style scoped>
  span {
    --lang-ts: #0068ad;
    --lang-js: #e9d44d;
    --lang-scss: #d82980;
    --lang-css: #6906cb;
    --lang-svelte: #d43200;
    --lang-vue: #008560;
    --lang-php: #4d507d;
    --cli: #353535;
    --wp: #5b5b5b;
    --drupal: #1316ea;
    color: #ffffff;
    font-weight: 550;
    font-size: 0.85rem;
    min-width: 70px;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    padding: 0.1em 1em;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    &.ts {
      background-color: var(--lang-ts);
    }
    &.js {
      background-color: var(--lang-js);
      color: #000000;
    }
    &.scss {
      background-color: var(--lang-scss);
    }
    &.css {
      background-color: var(--lang-css);
    }
    &.svelte,
    &.sveltekit {
      background-color: var(--lang-svelte);
    }
    &.cli {
      background-color: var(--cli);
    }
    &.wp {
      background-color: var(--wp);
    }
    &.vue {
      background-color: var(--lang-vue);
    }
    &.php {
      background-color: var(--lang-php);
    }
    &.drupal {
      background-color: var(--drupal);
      color: #ffffff;
    }
  }
  span + span {
    margin-left: 0.35rem;
  }
</style>
