<span>
  <slot name="svg" />
</span>

<style>
  span {
    display: inline-block;
    background-color: var(--primary);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    align-content: center;
    vertical-align: -9px;
    margin-right: 0.5rem;
  }
</style>
