---
import BookmarkSVG from "../../svg/BookmarkSVG.astro";
---

<script>
  const dots = document.querySelectorAll(".dot");
  dots[2].addEventListener("animationend", () => {
    dots.forEach((dot) => dot.classList.remove(...["animation-loadUp", "animation-loadDown"]));
    setTimeout(() => {
      dots[0].classList.add("animation-loadUp");
      dots[1].classList.add("animation-loadDown");
      dots[2].classList.add("animation-loadUp");
    }, 250);
  });
</script>

<div class="container">
  <div class="svg-container">
    <BookmarkSVG />
  </div>
  <div class="dot-container">
    <span class="dot animation-loadUp"></span>
    <span class="dot animation-loadDown"></span>
    <span class="dot animation-loadUp"></span>
  </div>
</div>

<style>
  .container {
    min-height: 150px;
    min-width: 150px;
    background-color: #2066ac;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }

  .dot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }

  .dot {
    display: inline-block;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
  }

  .svg-container {
    margin-inline: auto;
    max-width: fit-content;
  }

  .animation-loadUp {
    animation: loadUp 1.5s ease-in 1;
  }

  .animation-loadDown {
    animation: loadDown 1.5s ease-in 1;
  }

  @keyframes loadUp {
    20% {
      transform: translateY(-12px);
    }
    55% {
      transform: translateY(12px);
    }

    80% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes loadDown {
    20% {
      transform: translateY(12px);
    }
    55% {
      transform: translateY(-12px);
    }
    80% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(0px);
    }
  }
</style>
