<div class="vo_container">
  <div class="centerpiece"></div>
  <div id="grey" class="tear"></div>
  <div id="orange" class="tear"></div>
  <div id="red" class="tear"></div>
  <div id="purple" class="tear"></div>
  <div id="navy" class="tear"></div>
  <div id="lightblue" class="tear"></div>
  <div id="teal" class="tear"></div>
  <div id="green" class="tear"></div>
</div>

<style>
  div.centerpiece {
    background-color: #2a3f54;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }

  .vo_container {
    min-width: 150px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    position: relative;
  }

  div.tear {
    opacity: 0;
    height: 35px;
    width: 35px;
    border-radius: 100% 0% 80% 20% / 80% 0% 100% 20%;
    position: absolute;
    animation: scaleTear 4s infinite reverse;
  }

  /* Individual Tears */
  /* Opposites:
  - grey and green
  - orange and teal
  - red and lightblue
  - purple and navy
  */

  @keyframes scaleTear {
    0% {
      width: 0px;
      height: 0px;
    }

    25% {
      opacity: 1;
      width: 35px;
      height: 35px;
    }

    50% {
      opacity: 1;
      width: 35px;
      height: 35px;
    }

    75% {
      opacity: 1;
      width: 35px;
      height: 35px;
    }

    100% {
      opacity: 0;
      width: 0px;
      height: 0px;
    }
  }

  #grey {
    background-color: #736157;
    top: 11px;
    right: 38px;
    transform: rotate(165deg);
  }

  #orange {
    background-color: #cd4c21;
    top: 40px;
    right: 12px;
    transform: rotate(-158deg);
    animation-delay: 0.2s;
  }

  #red {
    background-color: #dc192a;
    bottom: 40px;
    right: 15px;
    transform: rotate(-112deg);
    animation-delay: 0.4s;
  }

  #purple {
    background-color: #683872;
    bottom: 11px;
    right: 38px;
    transform: rotate(293deg);
    animation-delay: 0.6s;
  }

  #navy {
    background-color: #243c54;
    bottom: 11px;
    left: 38px;
    transform: rotate(333deg);
    animation-delay: 0.8s;
  }

  #lightblue {
    background-color: #007db1;
    bottom: 40px;
    left: 15px;
    transform: rotate(22deg);
    animation-delay: 1s;
  }

  #teal {
    background-color: #338275;
    top: 40px;
    left: 12px;
    transform: rotate(68deg);
    animation-delay: 1.2s;
  }

  #green {
    background-color: #58813c;
    top: 11px;
    left: 38px;
    transform: rotate(-255deg);
    animation-delay: 1.4s;
  }
</style>
