<script>
  const tabs = document.querySelectorAll(".grey-tabs-container .tab");
  tabs[1].addEventListener("animationend", () => {
    tabs.forEach((tab) => tab.classList.remove("activeTabGrey"));
    setTimeout(() => {
      tabs.forEach((tab) => tab.classList.add("activeTabGrey"));
    }, 500);
  });
</script>

<div class="grey-tabs-container">
  <div class="tab tab-1 activeTabGrey"><span>A</span></div>
  <div class="tab tab-2 activeTabGrey"><span>B</span></div>
</div>

<style>
  .grey-tabs-container {
    min-height: 150px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .tab {
    --blue: #0b3b5d;
    --grey: #e1e1e1;
    --white: #ffffff;
    --green: #049c78;
    --tab-background: var(--grey);
    min-height: 15px;
    min-width: 55px;
    background-color: var(--grey);
    border-radius: 10px;
    position: relative;
    text-align: center;
  }

  .tab::after {
    position: absolute;
    content: "";
    background-color: var(--blue);
    min-height: 3px;
    bottom: -5px;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, 50%);
  }

  .activeTabGrey {
    animation: activeTabGrey 1800ms;
  }

  .activeTabGrey::after {
    animation: tabUnderline 1800ms;
  }

  .tab-2,
  .tab-2::after {
    animation-delay: 1800ms;
  }

  /* Animations */

  @keyframes activeTabGrey {
    0% {
      background-color: var(--grey);
      color: var(--blue);
    }

    50% {
      transform: scale(1.1);
      background-color: var(--blue);
      color: var(--white);
    }

    100% {
      transform: scale(1);
      background-color: var(--grey);
      color: var(--blue);
    }
  }

  @keyframes tabUnderline {
    0% {
      width: 0%;
    }

    50% {
      width: 75%;
    }

    100% {
      width: 0%;
    }
  }
</style>
