<div class="backdrop">
  <div class="snakehead">
    <div class="tongue"></div>
  </div>
</div>

<style>
  .backdrop {
    display: grid;
    place-items: center;
    margin: 0 auto;
    background-size: 25px 25px;
    position: relative;
    z-index: -4;
    background-image: linear-gradient(to right, #fff1f9 1.5px, transparent 1.5px),
      linear-gradient(to bottom, #fff1f9 1.5px, transparent 1.5px);
    min-width: 150px;
    height: 150px;
    border: solid 2px #ff46b5;
    border-radius: 50%;
    background-color: #ffd5ee;
  }

  .snakehead {
    --snake-pink: #ff46b5;
    position: relative;
    margin: 0 auto;
    width: 55px;
    min-height: 55px;
    background-color: var(--snake-pink);
    border-radius: 7.5px;
    &::before {
      position: absolute;
      content: "";
      background-color: #ffffff;
      border-radius: 30px;
      height: 18px;
      width: 7px;
      bottom: 21%;
      left: 23%;
      rotate: -30deg;
    }
    &::after {
      position: absolute;
      content: "";
      background-color: #ffffff;
      border-radius: 30px;
      height: 18px;
      width: 7px;
      bottom: 21%;
      right: 23%;
      rotate: 30deg;
    }
    .tongue {
      z-index: -1;
      position: absolute;
      background-color: #b76aff;
      border-bottom: 5px solid #ffd5ee;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      min-height: 30px;
      width: 10px;
      bottom: 0%;
      right: 41%;
      animation: flick 0.7s ease infinite alternate;
    }
  }

  @keyframes flick {
    100% {
      bottom: -25%;
    }
  }
</style>
