<script>
  const rings = document.querySelectorAll(".ring");
  const outerRing = document.querySelector(".outer-ring");
  const img = document.querySelector("img#link");

  outerRing.addEventListener("animationend", (event) => {
    const el = event.target as HTMLElement;
    if (el.classList.contains("outer-ring")) {
      img.classList.remove("animate-img");
      rings.forEach((ring) => ring.classList.remove("animate-ring"));
      setTimeout(() => {
        img.classList.add("animate-img");
        rings.forEach((ring) => ring.classList.add("animate-ring"));
        console.log("re-added animations");
      }, 250);
    }
  });
</script>

<div class="container">
  <div class="outer-ring ring animate-ring">
    <div class="inner-ring ring animate-ring">
      <img
        src="/green-link.png"
        id="link"
        alt="Green link"
        height="55"
        width="55"
        class="animate-img"
      />
    </div>
  </div>
</div>

<style>
  .container {
    min-width: 150px;
    min-height: 150px;
    background-color: #000000;
    border-radius: 10px;
    align-content: center;
  }

  .outer-ring,
  .inner-ring {
    --green: #19fe88;
    border-radius: 50%;
    border: solid 2px;
    border-color: transparent;
    align-content: center;
    margin-inline: auto;
  }

  /* Animation classes */
  .animate-ring {
    animation: rings 800ms alternate;
  }

  .animate-img {
    animation: pulse 800ms alternate;
  }

  .outer-ring {
    height: 125px;
    width: 125px;
    animation-delay: 400ms;
  }

  .inner-ring {
    height: 90px;
    width: 90px;
    animation-delay: 200ms;
  }

  img {
    margin-inline: auto;
  }

  /* Animations */
  @keyframes rings {
    0% {
      border-color: transparent;
    }
    50% {
      border-color: var(--green);
    }
    100% {
      border-color: var(--transparent);
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      filter: none;
    }
    50% {
      transform: scale(1.2);
      filter: drop-shadow(0 0 2.5px var(--green));
    }
    100% {
      transform: scale(1);
      filter: none;
    }
  }
</style>
