---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="About">
    <section class="biography">
        <h2>about</h2>
        <p>Hey, I'm Conor. I'm a web developer who loves to take on challenging and fulfilling projects. My work has recently focused on the medical world, but generally tries to aid, educate, or simply be creative. Hope you had a chance to check out <a href="/portfolio/">my portfolio</a>.</p>
        <p>I'm ~also~ a professional photographer. Before I full sent web dev, I earned my B.S. in visual journalism from Boston University. I was a Web Designer for the BU School of Medicine and am now a full-time Web Associate for the <a href="https://gwdocs.com/" target="#">GW Medical Faculty Associates (MFA)</a>.</p>
    </section>

    <div class="section-grid">
        <section class="tech-stack">
            <h3>languages & frameworks<br><span style="color: var(--accent)">&#123;<span style="color: #fff">&#9670;</span>&#125;</span></h3>
            <div class="icon-row">
                <Image src="/typescript-50.svg" alt="TypeScript" width="50" height="50"/>
                <Image src="/javascript-50.svg" alt="JavaScript" width="50" height="50"/>
                <Image src="/sass-50.svg" alt="Sass" width="50" height="50"/>
                <Image src="/css-50.svg" alt="CSS3" width="50" height="50"/>
            </div>
            <div class="icon-row">
                <Image src="/svelte-50.svg" alt="Svelte" width="50" height="50"/>
                <Image src="/webcomponents-65.svg" alt="Web Components" width="65" height="65"/>
                <Image src="/drupal-50.svg" alt="Web Components" width="50" height="50"/>
            </div>
        </section>
        <div class="divider"></div>
        <section class="socials">
            <h3>connect with me<br/><span style="color: var(--accent)">&#123;<span style="color: #fff">&#9670;</span>&#125;</span></h3>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/conor-kelley2/" target="#">
                    <Image src="/linkedin-65.svg" alt="LinkedIn" width="65" height="65" />
                </a>
                <a href="https://www.instagram.com/__ckphoto/" target="#">
                    <Image src="/instagram-65.svg" alt="Instagram" width="65" height="65" />
                </a>
                <a href="mailto:cfk102@gmail.com" target="#">
                    <Image src="/mail-65.svg" alt="Email" width="65" height="65" />
                </a>
            </div>
        </section>
    </div>
</Layout>

<style lang="scss">
    .biography {
        text-align: justify;
    }
    h3 {
        color: var(--primary);
        text-align: center;
        font-weight: 500;
    }

    .section-grid {
        display: grid;
        margin-top: 3rem;
        grid-template-columns: 45% 10% 45%;

        .tech-stack {
            .icon-row {
                max-width: fit-content;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                border-radius: 15px;
                padding: 0.4em 1.2em;
            }
        }
        

        .divider {
            min-height: 100%;
            width: 1px;
            border: solid 1px #191919;
            place-self: center;
        }
    }

    .social-links {
        max-width: fit-content;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        border-radius: 15px;
        padding: 0.4em 1.2em;

        img {
            transition: 0.2s all;
            &:hover {
                filter: drop-shadow(0 0 1.5rem var(--accent));
            }
        }
    }
</style>