---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="biography">
        <h2>about</h2>
        <p>I'm a web developer who loves to take on projects of varying purpose and design, especially if they serve to aid or educate. Hope you had a chance to check out <a href="/portfolio/">my work</a> – I love building with TypeScript, SCSS, SvelteKit and Astro.</p>
        <p>I’m also a professional-grade photographer and editor. I earned my B.S. in visual journalism from Boston University in May 2022. I was a Web Designer for two major site redesigns in the BU School of Medicine, and was the Photo Section Editor of <a href="https://dailyfreepress.com/" target="#">The Daily Free Press</a>. I'm currently a full-time Web Associate for the <a href="https://gwdocs.com/" target="#">GW Medical Faculty Associates (MFA)</a>.</p>
    </section>
</Layout>

<style lang="scss">
    .biography {
        text-align: justify;
    }
</style>