---
import IslandGW from "../components/svelte/IslandGW.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2>GW Medicine - Development Work</h2>

  <IslandGW client:visible />
</Layout>
