---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
// TODO:
// * Make site responsive
// * put emblem under portfolio heading?
// * Add metadata + og image
// * add vercel config
---

<Layout title="Welcome">
  <section class="biography">
    <h2>hey there.</h2>
    <div class="divider">
      <span style="color: var(--accent)"
        >&#123;<span style="color: #fff">&#9670;</span>&#125;</span
      >
    </div>
    <p>
      I'm Conor — I love to take on challenging and fulfilling development work.<br
      />I try my best to use code to aid others and be creative. Always
      learning.
    </p>
  </section>

  <picture>
    <source srcset="/me-mobile-min.png" media="(max-width: 600px)" />
    <img class="prof-pic" src="/me-min.png" alt="Conor Kelley" />
  </picture>

  <section class="tech-stack">
    <p class="secondrow-label">I build stuff with:</p>
    <div class="icon-row">
      <div class="mobile-row">
        <div class="tooltip">
          <Image
            src="/typescript-50.svg"
            alt="TypeScript"
            width="50"
            height="50"
          />
          <div class="top">
            <span>TypeScript</span>
            <i></i>
          </div>
        </div>
        <div class="tooltip">
          <Image
            src="/javascript-50.svg"
            alt="JavaScript"
            width="50"
            height="50"
          />
          <div class="top">
            <span>JavaScript</span>
            <i></i>
          </div>
        </div>
      </div>
      <div class="mobile-row">
        <div class="tooltip">
          <Image src="/sass-50.svg" alt="Sass" width="50" height="50" />
          <div class="top">
            <span>Sass/SCSS</span>
            <i></i>
          </div>
        </div>
        <div class="tooltip">
          <Image src="/svelte-50.svg" alt="Svelte" width="50" height="50" />
          <div class="top">
            <span>Svelte/Kit</span>
            <i></i>
          </div>
        </div>
      </div>
      <div class="mobile-row">
        <div class="tooltip">
          <Image src="/astro-50.svg" alt="Astro" width="50" height="50" />
          <div class="top">
            <span>Astro</span>
            <i></i>
          </div>
        </div>
        <div class="tooltip">
          <Image src="/drupal-50.svg" alt="Drupal" width="50" height="50" />
          <div class="top">
            <span>Drupal</span>
            <i></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="divider divider-mobile">
    <span style="color: var(--accent)"
      >&#123;<span style="color: #fff">&#9670;</span>&#125;</span
    >
  </div>
  <div class="social-list-mobile">
    <a class="github-link" href="https://github.com/zenDev-2" target="#">
      <Image src="/github-65.svg" alt="GitHub" width="50" height="50" />
    </a>
    <a href="https://www.linkedin.com/in/conor-kelley2/" target="#">
      <Image src="/linkedin-65.svg" alt="LinkedIn" width="65" height="65" />
    </a>
    <a href="mailto:cfk102@gmail.com" target="#">
      <Image src="/mail-65.svg" alt="Email" width="65" height="65" />
    </a>
    <a href="https://www.instagram.com/__ckphoto/" target="#">
      <Image src="/instagram-65.svg" alt="Instagram" width="65" height="65" />
    </a>
  </div>
</Layout>

<style lang="scss">
  h2 {
    text-align: center;
    margin-bottom: 0;
  }
  .biography {
    text-align: center;
    p {
      margin-top: 0.5rem;
      br {
        margin: 0.1em 0;
      }
    }
  }
  h3 {
    color: var(--primary);
    text-align: center;
    font-weight: 500;
  }

  .prof-pic {
    margin: 0 auto;
  }

  .icon-row {
    min-width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1em 1.2em;
  }

  .divider {
    font-size: 1.728rem;
    font-weight: 500;
    text-align: center;
    padding: 1.2em 0 0 0;
    &:first-of-type {
      padding-top: 0;
    }
  }

  .secondrow-label {
    font-size: 1.35rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
    color: var(--primary);
  }

  .social-list-mobile,
  .divider-mobile {
    display: none;
  }

  .mobile-row {
    display: flex;
    gap: 1.5rem;
  }
  @keyframes typewriter_1 {
    from {
      width: 0;
    }
    to {
      width: 38rem;
    }
  }
  @keyframes typewriter_2 {
    from {
      width: 0;
    }
    to {
      width: 40rem;
    }
  }

  @media (max-width: 500px) {
    .icon-row {
      flex-direction: column;
    }
  }

  @media (max-width: 900px) {
    li.homepage {
      display: none;
    }

    .divider-mobile {
      display: block;
    }

    .social-list-mobile {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      gap: 0.5rem;
      .github-link {
        margin-top: 0;
      }
    }
  }
</style>
