---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import ListItem from "../components/ListItem.astro";
---

<meta property="og:url" content="https://conorkelley.me" />

<Layout
  title="Web Developer"
  description="Creative frontend developer making expressive and useful web resources."
>
  <section class="about">
    <h2>Get a Load of This Guy</h2>

    <p>
      I'm a Web Associate for GW's <a
        href="https://gwdocs.com/"
        target="_blank"
      >
        Medical Faculty Associates</a
      > and <a href="https://smhs.gwu.edu/" target="_blank">
        School of Medicine & Health Sciences</a
      >. I work on nearly every website within the GW academic medical
      enterprise, which entails...
    </p>
    <div>
      <ul class="responsibilities">
        <li>
          Website and intranet development for stakeholders across dozens of
          specialties and departments
        </li>
        <li>Quality assurance - auditing broken links and optimizing files</li>
        <li>Creating reusable styled components or site-specific features</li>
        <li>
          Coding custom scripts / tooling to automate or simplify workflows
        </li>

        <li>Testing new system-wide features prior to code deployments</li>
      </ul>
      <Image
        src="/me--200x200-min.png"
        alt="Conor's pixellated head"
        height="180"
        width="180"
      />
    </div>
  </section>

  <div class="page-break"></div>

  <section class="featured-work">
    <h2>Featured Projects</h2>
    <ul class="item-group">
      <ListItem
        name="SMHS Faculty Listing Generator"
        url="https://github.com/contreau/smhs-faculty-generator"
        description={`A command line interface (CLI) tool that is both a web scraper and HTML generator. Developed to expedite my workflow
            in updating thousands of lines of HTML in faculty pages across all GW School of Medicine & Health Sciences (SMHS) websites.`}
        jobtype="GW MFA & SMHS"
        tools="JavaScript, Node.js"
      />

      <ListItem
        name="CTSI Virtual Organizer"
        url="https://ctsicn.org/virtual-organizer"
        description={`An interactive navigational graphic developed for the Clinical and
          Translational Science Institute (CTSI) at Children's National
          Hospital.`}
        jobtype="GW MFA & SMHS"
        tools="JavaScript, SCSS, Drupal"
      />

      <ListItem
        name="CiteClinic"
        url="https://citeclinic.app/"
        description={`Easily retrieve citation information from any journal article with a
          valid Digital Object Identifier (DOI) and generate customizable
          citation components for use on any site or CMS.`}
        jobtype="Personal"
        tools="SvelteKit, TypeScript, SCSS, APIs"
      />

      <ListItem
        name="ISS Live Tracker"
        url="https://live-tracker-iss.netlify.app/"
        description={`A simple live tracker of the International Space Station. Provides detailed location information and map control.`}
        jobtype="Personal"
        tools="JavaScript, Leaflet, APIs"
      />
    </ul>
  </section>

  <div class="page-break"></div>

  <section class="musings">
    <h2>Musings</h2>
    <ul class="item-group">
      <ListItem
        name="Snek"
        url="https://snekgame.app/"
        description={`An aesthetically pleasing snake game with three modes. Try for a high score in each ;)`}
        jobtype="Personal"
        tools="Svelte, TypeScript, SCSS"
      />

      <ListItem
        name="Koi Pond"
        url="https://contreau.github.io/koi-pond/"
        description={`A tranquil koi pond made of pure CSS. Ahhh... zen...`}
        jobtype="Personal"
        tools="CSS"
      />
    </ul>
  </section>
</Layout>

<style lang="scss" scoped>
  .item-group {
    padding: 0em;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }

  .featured-work h2:first-of-type {
    margin-top: 0;
  }

  section + section {
    margin-top: 3.5rem;
  }

  .about div {
    display: grid;
    grid-template-columns: 65% 25%;
    align-items: center;
    justify-content: space-between;
  }

  .about img {
    padding: 1.25em;
    background-color: #017b6963;
    border-radius: 50%;
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .responsibilities {
    padding: 1em 0.5em;
    padding-left: 2em;
    margin-bottom: 0;
    border-radius: 10px;
    max-width: fit-content;
    background-color: #d7d4d4;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

    li {
      font-style: italic;
      color: #5a5959;
    }
  }

  .responsibilities li::marker {
    color: var(--primary);
  }

  .page-break {
    min-height: 3.5px;
    width: 100px;
    background-color: #028975;
    border-radius: 10px;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
</style>
