---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import ListItem from "../components/ListItem.astro";
---

<meta property="og:url" content="https://conorkelley.me" />

<Layout
  title="Web Developer"
  description="Creative frontend developer making expressive and useful web resources."
>
  <section class="featured-work">
    <h2>Featured Projects</h2>
    <ul class="item-group">
      <ListItem
        name="SMHS Faculty Listing Generator"
        url="https://github.com/contreau/smhs-faculty-generator"
        description={`A command line interface (CLI) tool that is both a web scraper and HTML generator. Developed to expedite my workflow
            in updating thousands of lines of HTML in faculty pages across all GW School of Medicine & Health Sciences (SMHS) websites.`}
        jobtype="GW MFA & SMHS"
        tools="JavaScript, Node.js"
      />

      <ListItem
        name="CTSI Virtual Organizer"
        url="https://ctsicn.org/virtual-organizer"
        description={`An interactive navigational graphic developed for the Clinical and
          Translational Science Institute (CTSI) at Children's National
          Hospital.`}
        jobtype="GW MFA & SMHS"
        tools="JavaScript, SCSS, Drupal"
      />

      <ListItem
        name="CiteClinic"
        url="https://citeclinic.app/"
        description={`Easily retrieve citation information from any journal article with a
          valid Digital Object Identifier (DOI) and generate customizable
          citation components for use on any site or CMS.`}
        jobtype="Personal"
        tools="SvelteKit, TypeScript, SCSS, APIs"
      />

      <ListItem
        name="ISS Live Tracker"
        url="https://live-tracker-iss.netlify.app/"
        description={`A simple live tracker of the International Space Station. Provides detailed location information and map control.`}
        jobtype="Personal"
        tools="JavaScript, Leaflet, APIs"
      />
    </ul>
  </section>

  <section class="musings">
    <h2>Musings</h2>
    <ul class="item-group">
      <ListItem
        name="Snek"
        url="https://snekgame.app/"
        description={`An aesthetically pleasing snake game with three modes. Try for a high score in each ;)`}
        jobtype="Personal"
        tools="Svelte, TypeScript, SCSS"
      />

      <ListItem
        name="Koi Pond"
        url="https://contreau.github.io/koi-pond/"
        description={`A tranquil koi pond made of pure CSS. Ahhh... zen...`}
        jobtype="Personal"
        tools="CSS"
      />
    </ul>
  </section>
</Layout>

<style lang="scss" scoped>
  .item-group {
    padding: 0em;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }

  section + section {
    margin-top: 3.5rem;
  }
</style>
