---
import Layout from "../layouts/Layout.astro";
---

<meta property="og:url" content="https://conorkelley.me" />

<Layout indexIsActive="true" pathName="about">
  <section class="bio">
    <div>
      <h2>Hello!</h2>
      <p>
        I'm a web developer living in Brooklyn, NY. I've worked in the intersection of healthcare
        and higher education for over 3 years and currently work for GW Medicine in Washington, D.C.
      </p>

      <p>
        On the job, I specialize in developing UI components and automation tools to support our
        internal team while collaborating with doctors and administrators to build pages, forms, and
        applications that serve thousands of patients, faculty, and students in the GW medical
        system.
      </p>
      <p>
        I also write code for freelance work and technical exploration. Drop me a line to talk web
        dev, volleyball, or ambient music recommendations.
      </p>
    </div>

    <picture>
      <source
        srcset="/ck-headshot-400x400.jpg"
        height="200"
        width="200"
        media="(max-width: 499px)"
      />
      <source
        srcset="/ck-headshot-400x400.jpg"
        height="250"
        width="250"
        media="(min-width: 500px)"
      />
      <img
        src="/ck-headshot-400x400.jpg"
        height="75"
        width="75"
        alt="Headshot of Conor Kelley"
        loading="eager"
      />
    </picture>
  </section>
</Layout>

<style>
  section.bio {
    opacity: 0;
    transform: translateY(-10px);
    display: grid;
    grid-template-columns: 70% 25%;
    place-items: end;
    align-items: center;
    gap: 5%;
    animation:
      fadeIn 500ms ease-in forwards,
      shiftDown 500ms ease-in forwards;

    p {
      font-weight: 350;
      margin-block: 1rem;
    }
  }

  img {
    border-radius: 10px;
    animation: popOutShadow 300ms 500ms forwards;
  }

  @media (max-width: 600px) {
    img {
      animation: none;
      box-shadow: -6px 6px 0px 0px #74757b40;
    }

    section.bio p {
      text-wrap: balance;
    }
  }

  @media (max-width: 1100px) {
    section.bio {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    picture {
      order: -1;
      margin-inline: auto;
    }
  }

  @media (max-width: 800px) {
    section.bio p {
      text-align: center;
    }
  }

  @keyframes shiftDown {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes popOutShadow {
    0% {
      box-shadow: 0px 0px 0px 0px #74757b40;
    }
    100% {
      box-shadow: -10px 10px 0px 0px #74757b40;
    }
  }
</style>
