---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<meta
  slot="metadata"
  name="description"
  content="Creative frontend developer making expressive and useful web resources."
/>
<meta slot="metadata" name="title" content="Conor Kelley • Welcome" />
<meta slot="metadata" property="og:title" content="Conor Kelley • Welcome" />
<meta slot="metadata" property="og:url" content="https://conorkelley.me" />
<meta
  slot="metadata"
  property="og:description"
  content="Creative frontend developer making expressive and useful web resources."
/>

<Layout title="Welcome">
  <section class="about-block">
    <section class="biography">
      <h2>hey there.</h2>
      <Image
        class="ashitaka-avatar"
        src="/ashitaka--200x200.png"
        alt="Ashitaka"
        width="125"
        height="125"
      />
      <p>i'm a frontend dev creating expressive and useful web projects.</p>
      <p>
        mostly prefer building with <span style="color: #377cc8;"
          >TypeScript</span
        >, <span style="color: #d2699e;">SCSS</span>, and <span
          style="color: #ff3e00;">Svelte</span
        >. check out my work! <Image
          src="/arrow-bend-right.svg"
          alt="Arrow bending up and right"
          height="35"
          width="35"
        />
      </p>
      <p class="cv">
        <a href="/ck-resume-jan-2024.pdf" target="_blank">
          CV <Image
            src="/diag-arrow-right.svg"
            alt="Diagonal-right pointing arrow"
            height="35"
            width="35"
          />
        </a>
      </p>
    </section>
    <div class="social-list">
      <a
        class="github-link"
        href="https://github.com/contreau"
        target="__blank"
      >
        <Image src="/github-65.svg" alt="GitHub" width="46" height="46" />
      </a>
      <a href="https://www.linkedin.com/in/conor-kelley2/" target="__blank">
        <Image src="/linkedin-65.svg" alt="LinkedIn" width="60" height="60" />
      </a>
      <a href="mailto:cfk102@gmail.com" target="__blank">
        <Image src="/mail-65.svg" alt="Email" width="60" height="60" />
      </a>
      <a href="https://www.instagram.com/__ckphoto/" target="__blank">
        <Image src="/instagram-65.svg" alt="Instagram" width="60" height="60" />
      </a>
    </div>
  </section>
</Layout>

<style lang="scss">
  .about-block {
    opacity: 0;
    animation: fadeIn 0.3s ease-in forwards;
  }

  h2 {
    opacity: 0;
    text-align: center;
    margin-bottom: 0;
    animation: fadeIn 0.3s ease-in forwards;
  }

  .biography {
    margin-top: 0.2rem;
    border-radius: 15px;
    text-align: center;

    p {
      opacity: 0;
      margin-top: 0;
      font-size: clamp(1.125rem, 3vw, 1.4rem);
      border-radius: 15px;
      animation: fadeIn 0.3s 0.4s ease-in forwards;
      br {
        margin: 0.1em 0;
      }
      img {
        display: inline;
      }
      &.cv {
        color: var(--text);
        font-weight: 500;
        padding: 0em 0.5em;
        padding-right: 0.2em;
        margin: 2.5rem auto 2.2rem auto;
        max-width: fit-content;
        border-radius: 10px;
        background-color: var(--accent);
        cursor: pointer;
        transform: translateZ(
          0
        ); // corrects drop-shadow rendering bug in safari
        transition: 0.2s all;
        &:hover {
          filter: drop-shadow(0 0 1.5rem var(--accent));
        }

        a {
          display: flex;
          align-items: center;
          color: var(--text);
          text-decoration: none;
        }

        img {
          display: inline;
        }
      }
    }

    .ashitaka-avatar {
      margin: 0.8rem auto;
      border: solid 3px var(--accent);
      border-radius: 50%;
    }
  }

  h3 {
    color: var(--primary);
    text-align: center;
    font-weight: 500;
  }

  .social-list {
    opacity: 0;
    animation: fadeIn 0.3s 0.4s ease-in forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
    transform: translateZ(0); // corrects drop-shadow rendering bug in safari
    img {
      transition: 0.2s all;
      &:hover {
        filter: drop-shadow(0 0 1.5rem var(--accent));
      }
    }
  }

  @media (max-width: 500px) {
    .biography p {
      padding: 0;
    }
    .social-list {
      flex-direction: column;
      margin-bottom: 2rem;
    }
  }
</style>
