---
import Layout from "../layouts/Layout.astro";
---

<meta property="og:url" content="https://conorkelley.me" />

<Layout indexIsActive="true">
  <section class="bio">
    <div>
      <p>
        I'm a web developer living in Brooklyn, NY. I've worked in the intersection of healthcare
        and higher education for over 3 years and currently work for GW Medicine in Washington, D.C.
      </p>

      <p>
        On the job I specialize in developing UI components, command-line tools, and custom
        applications to automate content updates.
      </p>
      <p>
        I also write code for personal use, freelance work, and technical exploration. Drop me a
        line to talk web dev, volleyball, or ambient music.
      </p>
    </div>

    <picture>
      <source srcset="/ck-headshot-400x400.jpg" height="75" width="75" media="(max-width: 600px)" />
      <source
        srcset="/ck-headshot-400x400.jpg"
        height="250"
        width="250"
        media="(min-width: 601px)"
      />
      <img
        src="/ck-headshot-400x400.jpg"
        height="75"
        width="75"
        alt="Headshot of Conor Kelley"
        loading="eager"
      />
    </picture>
  </section>
</Layout>

<style>
  section.bio {
    display: grid;
    grid-template-columns: 75% 20%;
    gap: 5%;
  }

  @keyframes popOutShadow {
    0% {
      box-shadow: 0px 0px 0px 0px #c8cad9a6;
    }
    100% {
      box-shadow: -12px 12px 0px 0px #8e909ba6;
    }
  }

  img {
    border-radius: 10px;
    animation: popOutShadow 400ms forwards;
  }
</style>
