---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import ListItem from "../components/ListItem.astro";
---

<meta property="og:url" content="https://conorkelley.me" />

<Layout
  description="Creative frontend developer making expressive and useful web resources."
>
  <section class="about">
    <h2>about me</h2>
    <p>Working in healthcare. Based in NYC.</p>
  </section>

  <!-- <section class="featured-work">
    <h2>Featured Projects</h2>
    <ul class="item-group">
      <ListItem
        name="SMHS Faculty Listing Generator"
        url="https://github.com/contreau/smhs-faculty-generator"
        description={`A command line interface (CLI) tool that is both a web scraper and HTML generator. Developed to expedite my workflow
            in auditing several hundred faculty members' status in our database and updating thousands of lines of HTML in faculty pages across all GW SMHS websites.`}
        jobtype="GW Medicine"
        tools="JavaScript, Node.js"
      />

      <ListItem
        name="CTSI Virtual Organizer"
        url="https://ctsicn.org/virtual-organizer"
        description={`An interactive navigational graphic developed for the Clinical and
          Translational Science Institute (CTSI) at Children's National
          Hospital.`}
        jobtype="GW Medicine"
        tools="JavaScript, SCSS, Drupal"
      />

      <ListItem
        name="CiteClinic"
        url="https://cite-clinic.vercel.app/"
        description={`Easily retrieve citation information from any journal article with a
          valid Digital Object Identifier (DOI) and generate customizable
          citation components for use on any site or CMS.`}
        jobtype="Personal"
        tools="SvelteKit, TypeScript, SCSS, APIs"
      />

      <ListItem
        name="Darqnet Ceremony"
        url="https://github.com/darqnet/darqnet-ceremony"
        description={`Created a UI for a cryptographic Web3 application that was formerly a command line interface.`}
        jobtype="Freelance"
        tools="Vue, JavaScript, CSS"
      />

      <ListItem
        name="ISS Live Tracker"
        url="https://live-tracker-iss.netlify.app/"
        description={`A simple live tracker of the International Space Station. Provides detailed location information and map control.`}
        jobtype="Personal"
        tools="JavaScript, Leaflet, APIs"
      />
    </ul>
  </section>

  <section class="musings">
    <h2>Musings</h2>
    <ul class="item-group">
      <ListItem
        name="Snek"
        url="https://snekgame.app/"
        description={`An aesthetically pleasing snake game with three modes. Try for a high score in each ;)`}
        jobtype="Personal"
        tools="Svelte, TypeScript, SCSS"
      />

      <ListItem
        name="Koi Pond"
        url="https://contreau.github.io/koi-pond/"
        description={`A tranquil koi pond made of pure CSS. Ahhh... zen...`}
        jobtype="Personal"
        tools="CSS"
      />
    </ul>
  </section> -->
</Layout>

<style lang="scss" scoped></style>
