---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<meta property="og:url" content="https://conorkelley.me" />

<Layout
  title="Web Developer"
  description="Creative frontend developer making expressive and useful web resources."
>
  <section class="featured-work">
    <h2>Featured Work</h2>
    <ul>
      <li>CiteClinic</li>
      <li>SMHS Faculty Listing Generator</li>
      <li>CTSI Virtual Organizer</li>
    </ul>
  </section>

  <section class="musings">
    <h2>Musings</h2>
    <ul>
      <li>Snek</li>
      <li>Koi Pond</li>
      <li>Particles</li>
    </ul>
  </section>

  <section class="skills">
    <h2>Skills</h2>
    <ul>
      <li>Languages: TypeScript, JavaScript, CSS, Python</li>
      <li>Frontend Frameworks: Astro, Drupal, Svelte, Vue</li>
    </ul>
  </section>
</Layout>

<style lang="scss"></style>
