---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
// TODO:
// * fix emblem diamond size on mobile
---

<meta
  slot="metadata"
  name="description"
  content="Creative frontend developer making expressive and useful web projects."
/>
<meta slot="metadata" name="title" content="Conor Kelley • Welcome" />
<meta slot="metadata" property="og:title" content="Conor Kelley • Welcome" />
<meta slot="metadata" property="og:url" content="https://conorkelley.me" />
<meta
  slot="metadata"
  property="og:description"
  content="Creative frontend developer making expressive and useful web projects."
/>

<Layout title="Welcome">
  <!-- <div class="flex-container"> -->
  <section class="biography">
    <h2>hey there.</h2>
    <div class="divider">
      <span style="color: var(--accent)"
        >&#123;<span class="gem" style="color: #fff">&#9670;</span>&#125;</span
      >
    </div>
    <p>
      I'm Conor — a frontend developer creating expressive and useful web
      projects.<br />I love taking on challenging and fulfilling development
      work.
    </p>
  </section>

  <p class="intro">What else?</p>

  <div class="grid-container">
    <section class="location">
      <Image src="/pin-50.svg" alt="Pin" width="45" height="45" />
      <p>I'm a D.C. native based in Brooklyn, NY.</p>
    </section>
    <section class="work">
      <Image src="/work-50.svg" alt="Briefcase" height="45" width="45" />
      <p>I'm a Web Associate for the GW MFA.</p>
    </section>
    <section class="tech-stack">
      <Image src="/tools-50.svg" alt="Tools" height="40" width="40" />
      <p class="secondrow-label">I build stuff with:</p>
      <div class="icon-row">
        <div class="mobile-row">
          <div class="tooltip">
            <Image
              src="/typescript-50.svg"
              alt="TypeScript"
              width="50"
              height="50"
            />
            <div class="top">
              <span>TypeScript</span>
              <i></i>
            </div>
          </div>
          <div class="tooltip">
            <Image
              src="/javascript-50.svg"
              alt="JavaScript"
              width="50"
              height="50"
            />
            <div class="top">
              <span>JavaScript</span>
              <i></i>
            </div>
          </div>
        </div>
        <div class="mobile-row">
          <div class="tooltip">
            <Image src="/sass-50.svg" alt="Sass" width="50" height="50" />
            <div class="top">
              <span>Sass/SCSS</span>
              <i></i>
            </div>
          </div>
          <div class="tooltip">
            <Image src="/svelte-50.svg" alt="Svelte" width="50" height="50" />
            <div class="top">
              <span>Svelte/Kit</span>
              <i></i>
            </div>
          </div>
        </div>
        <div class="mobile-row">
          <div class="tooltip">
            <Image src="/astro-50.svg" alt="Astro" width="50" height="50" />
            <div class="top">
              <span>Astro</span>
              <i></i>
            </div>
          </div>
          <div class="tooltip">
            <Image src="/drupal-50.svg" alt="Drupal" width="50" height="50" />
            <div class="top">
              <span>Drupal</span>
              <i></i>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- </div> -->

  <div class="divider divider-mobile">
    <span style="color: var(--accent)"
      >&#123;<span class="gem" style="color: #fff">&#9670;</span>&#125;</span
    >
  </div>
  <div class="social-list-mobile">
    <a class="github-link" href="https://github.com/zenDev-2" target="#">
      <Image src="/github-65.svg" alt="GitHub" width="50" height="50" />
    </a>
    <a href="https://www.linkedin.com/in/conor-kelley2/" target="#">
      <Image src="/linkedin-65.svg" alt="LinkedIn" width="65" height="65" />
    </a>
    <a href="mailto:cfk102@gmail.com" target="#">
      <Image src="/mail-65.svg" alt="Email" width="65" height="65" />
    </a>
    <a href="https://www.instagram.com/__ckphoto/" target="#">
      <Image src="/instagram-65.svg" alt="Instagram" width="65" height="65" />
    </a>
  </div>
</Layout>

<style lang="scss">
  .flex-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .grid-container {
    display: grid;
    row-gap: 4rem;
    grid-template-columns: 1fr 1fr;
  }

  .intro {
    color: var(--primary);
    margin-top: 2.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
  }

  .location,
  .work {
    text-align: center;
    p {
      margin-top: 0.5rem;
      font-weight: 500;
    }
    img {
      margin: 0 auto;
    }
  }

  .tech-stack {
    grid-column: span 2;
    img {
      margin: 0 auto;
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 0;
  }
  .biography {
    text-align: center;
    p {
      margin-top: 0.5rem;
      br {
        margin: 0.1em 0;
      }
    }
  }
  h3 {
    color: var(--primary);
    text-align: center;
    font-weight: 500;
  }

  .prof-pic {
    margin: 0 auto;
  }

  .icon-row {
    min-width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1em 1.2em;
  }

  .divider {
    font-size: 1.728rem;
    font-weight: 500;
    text-align: center;
    padding: 1.2em 0 0 0;
    &:first-of-type {
      padding-top: 0;
    }
  }

  .secondrow-label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0;
    text-align: center;
    // color: var(--primary);
  }

  .social-list-mobile,
  .divider-mobile {
    display: none;
  }

  .mobile-row {
    display: flex;
    gap: 1.5rem;
  }

  @media (max-width: 500px) {
    .icon-row {
      flex-direction: column;
    }
    .grid-container {
      grid-template-columns: 1fr;
    }
    .tech-stack {
      grid-column: 1;
    }
  }

  @media (max-width: 900px) {
    li.homepage {
      display: none;
    }

    .divider-mobile {
      display: block;
    }

    .social-list-mobile {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      gap: 0.5rem;
      .github-link {
        margin-top: 0;
      }
    }
  }
</style>
