---
import Layout from "../layouts/Layout.astro";
import Chip from "../components/Chip.astro";
import Project from "../components/Project.astro";
import Koi from "../components/Koi.astro";
import Snek from "../components/Snek.astro";
import ISS from "../components/ISS.astro";
---

<Layout musingsIsActive="true" pathName="musings">
  <section class="musings">
    <h2>Musings</h2>
    <p class="description">More playful than practical.</p>
    <div class="project-grid">
      <Project
        projectName="CSS Koi Pond"
        projectDescription="A charming koi pond powered by CSS."
        projectURL="https://contreau.github.io/koi-pond/"
      >
        <Koi slot="project-visual" />
        <Chip slot="chip" abbr="css" />
      </Project>
      <Project
        projectName="Snek"
        projectDescription="My take on the classic snake game with three game modes."
        projectURL="https://snekgame.app"
      >
        <Snek slot="project-visual" />
        <Chip slot="chip" abbr="svelte" />
        <Chip slot="chip" abbr="ts" />
      </Project>
      <Project
        projectName="ISS Live Tracker"
        projectDescription="Minimalist tracker of the International Space Station."
        projectURL="https://live-tracker-iss.netlify.app/"
      >
        <ISS slot="project-visual" />
        <Chip slot="chip" abbr="js" />
        <Chip slot="chip" abbr="css" />
      </Project>
    </div>
  </section>
</Layout>

<style>
  @keyframes shiftUp {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  div.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 6rem;
    opacity: 0;
    animation:
      fadeIn 500ms ease-in forwards,
      shiftUp 500ms ease-in forwards;
  }

  @media (max-width: 1100px) {
    p.semititle {
      text-align: center;
    }

    section.musings {
      grid-template-columns: 1fr;
      row-gap: 3rem;
    }
  }
</style>
