---
const { abbr } = Astro.props;
const abbreviationMap = {
  ts: "TypeScript",
  js: "JavaScript",
  css: "CSS",
  scss: "SCSS",
  svelte: "Svelte",
  sveltekit: "SvelteKit",
  cli: "Command-line Tool",
};
---

<span class={abbr}>{abbreviationMap[abbr]}</span>

<style scoped>
  span {
    --lang-ts: #0283d8;
    --lang-js: #e9d44d;
    --lang-scss: #e077ab;
    --lang-css: #6906cb;
    --lang-svelte: #f0430e;
    --cli: #d2d2d2;
    color: #ffffff;
    font-weight: 550;
    font-size: 0.85rem;
    min-width: 70px;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    padding: 0.1em 1em;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    &.ts {
      background-color: var(--lang-ts);
    }
    &.js {
      background-color: var(--lang-js);
      color: #000000;
    }
    &.scss {
      background-color: var(--lang-scss);
    }
    &.css {
      background-color: var(--lang-css);
      color: #ffffff;
    }
    &.svelte,
    &.sveltekit {
      background-color: var(--lang-svelte);
    }
    &.cli {
      background-color: var(--cli);
    }
  }
  span + span {
    margin-left: 0.35rem;
  }
</style>
