---
import Chip from "@components/chips/Chip.astro";
import Project from "@components/projects/Project.astro";
import Wave from "@components/visuals/Wave.astro";
import CiteClinic from "@components/visuals/CiteClinic.astro";
import Snek from "@components/visuals/Snek.astro";
import Koi from "@components/visuals/Koi.astro";
import WorkSVG from "@svg/WorkSVG.astro";
---

<section class="portfolio">
  <h2>Work Experience <span>&&</span> Solo Projects</h2>
  <div class="grid-30-70">
    <!-- Selected View -->
    <div class="job-details">
      <!-- Views: Each NEED an aria-hidden, default to 'true' if not visible -->
      <div aria-hidden="false" id="gw-details" class="job-view">
        <h3>Web Associate • GW Medicine</h3>
        <p class="job-range">October 2022 - Present</p>

        <h4>Development Highlights</h4>
        <ul class="job-details">
          <li>
            New <a href="/gwmedicine">patient-oriented UI components</a> for gwdocs.com, including card
            styles for medical providers / locations and a filterable "Find a Specialty" function.
          </li>
          <li>
            <a href="/gwmedicine/faculty-listing-builder">An internal frontend tool</a> for the web team
            to easily make updates to medical school faculty profiles.
          </li>
          <li>
            Command-line interface tools to transform HTML for 1,400+ faculty member profiles to
            match updated database information and refresh styling.
          </li>
        </ul>

        <p class="view-work"><a href="/gwmedicine"><WorkSVG /> View Featured Projects</a></p>

        <h4>General Duties</h4>
        <ul class="job-details">
          <li>
            Build websites, webforms, and make content updates for MFA patients and Academic Medical
            Enterprise stakeholders (i.e. medical providers, university faculty, administrators, and
            researchers)
          </li>
          <li>Create new component styles for the web team to use across our sites.</li>
          <li>
            Test sites in development environments to diagnose bugs and ensure all intended
            functionality.
          </li>
          <li>
            Optimize site media and audit sites for accessibility and performance issues using
            Siteimprove or custom scripting.
          </li>
        </ul>
      </div>
      <div aria-hidden="true" id="bu-details" class="job-view">
        <h3>Web Designer</h3>
        <p class="job-range">January - August 2022</p>
        <Chip abbr="wp" />
        <Chip abbr="css" />
        <ul class="job-details">
          <li>
            Redesigned websites for the <a href="https://www.bumc.bu.edu/ppb/" target="_blank"
              >Department of Pharmacology</a
            > and the <a href="https://www.bumc.bu.edu/ofga/" target="_blank">
              Office of Financial & Grants Administration</a
            > at Boston University School of Medicine.
          </li>
          <li>
            Developed new page components and leveraged extensive custom CSS styling within the
            existing WordPress framework.
          </li>
          <li>
            Collaborated with department faculty to determine widespread changes to content
            presentation and to gather improved site imagery.
          </li>
          <li>Took new headshots for certain staff members.</li>
        </ul>
      </div>

      <div aria-hidden="true" id="solo-details" class="job-view">
        <h3>Personal Projects & Development</h3>
        <p class="job-range">2021 - Present</p>
        <div class="project-list">
          <Project
            slot="column-1"
            projectName="Kompendium"
            projectDescription="An extensive digital archive of my late friend Konrad Rauscher's 800+ playlists."
            projectURL="https://komp3nd1um.app"
          >
            <Wave slot="project-visual" />
            <Chip slot="chip" abbr="sveltekit" />
            <Chip slot="chip" abbr="ts" />
            <Chip slot="chip" abbr="py" />
            <Chip slot="chip" abbr="node" />
          </Project>
          <Project
            slot="column-2"
            projectName="CiteClinic"
            projectDescription="Generate styled medical journal citations from any valid DOI."
            projectURL="https://cite-clinic.vercel.app/"
          >
            <CiteClinic slot="project-visual" />
            <Chip slot="chip" abbr="sveltekit" />
            <Chip slot="chip" abbr="ts" />
            <Chip slot="chip" abbr="node" />
          </Project>
        </div>

        <h4>Musings</h4>
        <div class="project-list">
          <Project
            slot="column-2"
            projectName="Snek"
            projectDescription="My take on the classic snake game with three game modes."
            projectURL="https://snekgame.app"
          >
            <Snek slot="project-visual" />
            <Chip slot="chip" abbr="svelte" />
            <Chip slot="chip" abbr="ts" />
          </Project>
          <Project
            slot="column-1"
            projectName="CSS Koi Pond"
            projectDescription="A charming koi pond powered by CSS."
            projectURL="https://contreau.github.io/koi-pond/"
          >
            <Koi slot="project-visual" />
            <Chip slot="chip" abbr="css" />
          </Project>
        </div>
      </div>
    </div>
    <!-- Filter Selection -->
    <ul class="jobs-list">
      <li><button id="gw" class="btn-active">GW Medicine</button></li>
      <li><button id="bu">BU School of Medicine</button></li>
      <li><button id="solo">Solo Projects</button></li>
    </ul>
  </div>
</section>

<script>
  const toggleButtons = document.querySelectorAll(".jobs-list button");
  toggleButtons.forEach((button) => {
    button.addEventListener("click", (e: Event) => {
      // if the active button is clicked, don't apply the following effects
      // otherwise run the effects
      if (!button.classList.contains("btn-active")) {
        toggleButtons.forEach((btn) => btn.classList.remove("btn-active"));
        button.classList.add("btn-active");
        // Sets aria-hidden='false' for the view associated with the clicked button, hides the previously active view
        const clickedButton = e.target as HTMLButtonElement;
        const associatedView = document.querySelector(`div#${clickedButton.id}-details`);
        if (associatedView.ariaHidden) {
          const currentView = document.querySelector(`.job-view[aria-hidden="false"]`);
          currentView.ariaHidden = "true";
          associatedView.ariaHidden = "false";
        }
      }
    });
  });
</script>

<style>
  section {
    min-height: 870px;
  }

  /* Set theme variables */
  html[data-theme="dark"] section {
    --button-border-color: var(--primary);
    --button-bg: var(--bg-color);
    --button-hover-color: #202d49;
    --button-border-hover-color: #202d49;
    --job-range-color: #d2d2d2;
  }

  html[data-theme="light"] section {
    --button-border-color: #c9c9c9;
    --button-bg: #ececec;
    --button-hover-color: #c9c9c9;
    --button-border-hover-color: #c9c9c9;
    --job-range-color: #555555;
  }

  .view-work {
    margin-block: 2rem;
  }

  .view-work a {
    border: solid 1px var(--button-border-color);
    padding: 0.5em 0.75em;
    border-radius: 8px;
    text-decoration: none;
    background-color: var(--button-bg);
    color: var(--text);
    transition: 0.2s all;
    &:hover {
      background-color: var(--button-hover-color);
      border-color: var(--button-border-hover-color);
    }
  }

  a,
  a:visited {
    color: var(--primary);
  }

  .grid-30-70 {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  [aria-hidden="true"] {
    display: none;
  }

  ul.jobs-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    justify-self: end;
  }

  .jobs-list li + li {
    margin-top: 1.5rem;
  }

  .btn-active,
  button:hover {
    background-color: var(--button-hover-color);
    border-color: var(--button-border-hover-color);
  }

  button {
    cursor: pointer;
    color: var(--text);
    background-color: var(--button-bg);
    border: solid 1.5px var(--button-border-color);
    border-radius: 8px;
    padding: 1em 1.5em;
    font-size: inherit;
    font-weight: 600;
    min-width: 250px;
    transition: 0.2s all;
  }

  h2 {
    margin-bottom: 2rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }

  .job-range {
    margin-top: 0;
    color: var(--job-range-color);
    font-weight: 300;
  }

  h4 {
    color: var(--primary);
    font-weight: 500;
    font-size: clamp(1rem, 6vw, 1.2rem);
  }

  .job-details li + li {
    margin-top: 1rem;
  }

  .job-details li::marker {
    color: var(--primary);
  }

  .project-list {
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
</style>
