<div class="firework-container">
    <div class="firework-spark firework-animation"></div>
    <div class="firework-spark firework-animation"></div>
    <div class="firework-spark firework-animation"></div>
    <div class="firework-spark firework-animation"></div>
    <div class="firework-spark firework-animation"></div>
    <div class="firework-spark firework-animation"></div>
    <div class="firework-spark firework-animation"></div>
    <div class="firework-spark firework-animation"></div>
    <div class="firework-spark firework-animation"></div>
    <div class="firework-spark firework-animation"></div>
    <div class="firework-spark firework-animation"></div>
    <div class="firework-spark firework-animation"></div>
</div>

<style>
    .firework-container {
        max-width: 9px;
        min-height: 126px;
        position: relative;
        filter: blur(0.1rem);
        margin: 0 auto;
    }
    .firework-spark {
        --explosion-radius: 80px;
        --fw-color: rgb(255, 41, 94);
        opacity: 0;
        position: absolute;
        width: 9px;
        min-height: 9px;
        top: 50%;
        border-radius: 2px;
        background-color: var(--fw-color);
        filter: drop-shadow(0 0 0.4em var(--fw-color));
        transition: background-color 0.4s ease;
    }
    .firework-animation {
        animation: explode 1.35s ease-in forwards infinite;
    }

    @keyframes explode {
        0% {
            opacity: 0;
        }
        15% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: translate(var(--x-direction), var(--y-direction));
            opacity: 0;
        }
    }

    .firework-spark:nth-of-type(1) {
        --x-direction: calc(var(--explosion-radius) * cos(0deg));
        --y-direction: calc(-1 * var(--explosion-radius) * sin(0deg));
    }

    .firework-spark:nth-of-type(2) {
        --x-direction: calc(var(--explosion-radius) * cos(30deg));
        --y-direction: calc(-1 * var(--explosion-radius) * sin(30deg));
    }

    .firework-spark:nth-of-type(3) {
        --x-direction: calc(var(--explosion-radius) * cos(60deg));
        --y-direction: calc(-1 * var(--explosion-radius) * sin(60deg));
    }

    .firework-spark:nth-of-type(4) {
        --x-direction: calc(var(--explosion-radius) * cos(90deg));
        --y-direction: calc(-1 * var(--explosion-radius) * sin(90deg));
    }

    .firework-spark:nth-of-type(5) {
        --x-direction: calc(var(--explosion-radius) * cos(-120deg));
        --y-direction: calc(-1 * var(--explosion-radius) * sin(120deg));
    }

    .firework-spark:nth-of-type(6) {
        --x-direction: calc(var(--explosion-radius) * cos(-150deg));
        --y-direction: calc(-1 * var(--explosion-radius) * sin(150deg));
    }

    .firework-spark:nth-of-type(7) {
        --x-direction: calc(var(--explosion-radius) * cos(-180deg));
        --y-direction: calc(-1 * var(--explosion-radius) * sin(180deg));
    }

    .firework-spark:nth-of-type(8) {
        --x-direction: calc(var(--explosion-radius) * cos(-210deg));
        --y-direction: calc(-1 * var(--explosion-radius) * sin(210deg));
    }

    .firework-spark:nth-of-type(9) {
        --x-direction: calc(var(--explosion-radius) * cos(-240deg));
        --y-direction: calc(-1 * var(--explosion-radius) * sin(240deg));
    }

    .firework-spark:nth-of-type(10) {
        --x-direction: calc(var(--explosion-radius) * cos(270deg));
        --y-direction: calc(-1 * var(--explosion-radius) * sin(270deg));
    }

    .firework-spark:nth-of-type(11) {
        --x-direction: calc(var(--explosion-radius) * cos(300deg));
        --y-direction: calc(-1 * var(--explosion-radius) * sin(300deg));
    }

    .firework-spark:nth-of-type(12) {
        --x-direction: calc(var(--explosion-radius) * cos(330deg));
        --y-direction: calc(-1 * var(--explosion-radius) * sin(330deg));
    }
</style>