---
import ASCII from "./visuals/ASCII.astro";
---

<div class="container">
  <div class="text">
    <p>
      I'm a frontend-leaning web developer living in NYC. I've worked in university medical systems
      for over 3 years, namely the <a href="https://gwdocs.com" target="_blank">GW MFA</a> and <a
        href="https://www.bumc.bu.edu/camed/"
        target="_blank"
      >
        Boston University School of Medicine</a
      >.
    </p>
    <p>
      I build UI components, custom tooling, websites, and applications that serve patients,
      doctors, and school administrators. Check out my <a href="/work">current work highlights</a>.
    </p>

    <p>
      I have some <a href="/projects">nifty projects of my own</a> - a mix of full-stack and pure frontend.
    </p>

    <p>
      You'll otherwise find me playing volleyball around the city, throwing out painfully mid jump
      serves.
    </p>
  </div>

  <ASCII />
</div>

<style>
  .text p:first-of-type {
    margin-top: 0;
  }

  /* 'About' section */
  .container {
    position: relative;
    opacity: 0;
    transform: translateY(-10px);
    display: grid;
    grid-template-columns: 70% 25%;
    place-items: end;
    align-items: start;
    gap: 5%;
    animation: fadeIn 500ms ease-in forwards;

    p {
      font-weight: 350;
      margin-block: 1rem;
    }

    a {
      color: var(--primary-link);
    }
  }

  h2 {
    margin-bottom: 3rem;
  }

  h2 span.blink-cursor {
    animation: cursor 1s infinite;
  }

  /* @ rules */

  @keyframes cursor {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 0;
    }

    75% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @media (max-width: 800px) {
    .container p {
      text-align: center;
    }
  }

  @media (max-width: 600px) {
    .container p {
      text-wrap: balance;
    }
  }

  @media (max-width: 1100px) {
    .container {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  @media (min-width: 1200px) {
    .container {
      animation:
        fadeIn 500ms ease-in forwards,
        shiftDown 500ms ease-in forwards;
    }
  }
</style>
