---
import { Image } from "astro:assets";
import headshot from "@img/ck-headshot-400x400-min.jpg";
---

<main>
  <div>
    <h2>
      <span class="gt">&gt;_</span>Web Developer <span>&&</span> Photographer
    </h2>
    <p>
      Based in NYC, I've worked in the intersection of healthcare and higher education for over 3
      years. I'm a frontend-leaning web developer with a photojournalism and editorial background.
    </p>
    <p>
      I currently work for <a href="/gwmedicine">GW Medicine</a>, where I thrive in UI and tooling
      development. I create and maintain sites and applications that serve thousands in the GW
      academic medical system.
    </p>
    <p>
      Reach out to talk freelance work, web dev, volleyball, or ambient music recommendations :)
    </p>
  </div>

  <!-- todo: use a <pre> tag to render the ASCII art of headshot from a JS string (model off juxtopposed)
   https://github.com/juxtopposed/ascii-rickroll-js/blob/main/index.html
  -->

  <Image src={headshot} layout="constrained" priority alt="Headshot of Conor Kelley" />
</main>

<style>
  /* 'About' section */
  main {
    /* outline: solid 1px white; */
    position: relative;
    height: 100vh; /* fallback for non-supporting browsers of svh */
    height: 100svh;
    opacity: 0;
    transform: translateY(-10px);
    display: grid;
    grid-template-columns: 70% 25%;
    place-items: end;
    align-items: center;
    gap: 5%;
    animation:
      fadeIn 500ms ease-in forwards,
      shiftDown 500ms ease-in forwards;

    p {
      font-weight: 350;
      margin-block: 1rem;
    }

    a {
      color: var(--primary-link);
    }
  }

  h2 {
    margin-bottom: 3rem;
  }

  img {
    border-radius: 10px;
    animation: popOutShadow 300ms 500ms forwards;
    max-width: 275px;
  }

  /* @ rules */

  @media (max-width: 800px) {
    main p {
      text-align: center;
    }
  }

  @media (max-width: 600px) {
    img {
      animation: none;
      box-shadow: -6px 6px 0px 0px var(--headshot-shadow);
    }

    main p {
      text-wrap: balance;
    }
  }

  @media (max-width: 499px) {
    img {
      max-width: 200px;
    }
  }

  @media (max-width: 1100px) {
    main {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    img {
      order: -1;
      margin-inline: auto;
    }
  }

  @keyframes popOutShadow {
    0% {
      box-shadow: 0px 0px 0px 0px var(--headshot-shadow);
    }
    100% {
      box-shadow: -10px 10px 0px 0px var(--headshot-shadow);
    }
  }
</style>
