<div class="load-symbol-container">
    <span class="dot dot1 loadUp"></span>
    <span class="dot dot2 loadUp"></span>
    <span class="dot dot3 loadUp"></span>
</div>

<style lang="scss">
    .load-symbol-container {
		display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.65rem;
        padding-top: 0.7em;
        padding-bottom: 0.7em;
        min-height: 150px;
        max-width: 150px;
        margin: 0 auto;
        border-radius: 50%;
        background-image: linear-gradient(to top, #0968f8, #0051c0, #003b8b, #002558, #020f2a);

	    .dot {
		    background-color: #ffffff;
		    width: 12px;
		    min-height: 12px;
		    border-radius: 30px;

		    &.dot2 {
		        animation-delay: 0.3s;
		    }
		    &.dot3 {
			    animation-delay: 0.6s;
		    }
	    }
    }

    .loadUp {
		animation: loadUp 1.2s linear infinite;
	}

    @keyframes loadUp {
        25% {
            transform: translateY(-35px);
        }
		50% {
			transform: translateY(0px);
		}
		75% {
			transform: translateY(35px);
		}
        100% {
            transform: translateY(0px);
        }
	}
</style>