---
// import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import ISS from "./ISS.astro";
import Darqnet from "./Darqnet.astro";
import Particles from "./Particles.astro";
import Koi from "./Koi.astro";
import Firework from "./Firework.astro";
import Snek from "./Snek.astro";
---

<h3>
  <span style="color: #4c7cc8">&#123;</span> Web Apps <span
    style="color: #4c7cc8">&#125;</span
  >
</h3>

<section class="portfolio-grid">
  <div class="grid-item">
    <span class="lt">&lt;&nbsp;</span><h4>CiteClinic</h4><span class="gt"
      >&nbsp;/&gt;</span
    >
    <div style="min-height: 150px; display: grid; place-items: center;">
      <Image
        src="/citeclinic-65.svg"
        alt="CiteClinic"
        width="65"
        height="65"
        class="main-icon"
      />
    </div>
    <p>Generate styled components of journal article citations.</p>
    <div class="project-links">
      <a href="https://citeclinic.app/" target="#">Live Project</a>
      <a href="https://github.com/contreau/CiteClinic" target="#">Source Code</a
      >
    </div>
    <div class="icon-row">
      <div class="tooltip">
        <Image src="/svelte-50.svg" alt="Svelte" width="50" height="50" />
        <div class="top wide-tooltip">
          <span>SvelteKit</span>
          <i></i>
        </div>
      </div>
      <div class="tooltip">
        <Image
          src="/typescript-50.svg"
          alt="TypeScript"
          width="50"
          height="50"
        />
        <div class="top">
          <span>TypeScript</span>
          <i></i>
        </div>
      </div>
      <div class="tooltip">
        <Image src="/sass-50.svg" alt="Sass" width="50" height="50" />
        <div class="top wide-tooltip">
          <span>Sass/SCSS</span>
          <i></i>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item" style="z-index: 0;">
    <span class="lt">&lt;&nbsp;</span>
    <h4>Snek</h4><span class="gt">&nbsp;/&gt;</span>
    <Snek />
    <p>An aesthetically pleasing snake game with three modes.</p>
    <div class="project-links">
      <a href="https://snekgame.app/" target="#">Live Project</a>
      <a href="https://github.com/contreau/snek" target="#">Source Code</a>
    </div>
    <div class="icon-row">
      <div class="tooltip">
        <Image src="/svelte-50.svg" alt="Svelte" width="50" height="50" />
        <div class="top">
          <span>Svelte</span>
          <i></i>
        </div>
      </div>
      <div class="tooltip">
        <Image
          src="/typescript-50.svg"
          alt="TypeScript"
          width="50"
          height="50"
        />
        <div class="top">
          <span>TypeScript</span>
          <i></i>
        </div>
      </div>
      <div class="tooltip">
        <Image src="/sass-50.svg" alt="Sass" width="50" height="50" />
        <div class="top wide-tooltip">
          <span>Sass/SCSS</span>
          <i></i>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <span class="lt">&lt;&nbsp;</span>
    <h4>ISS Live Tracker</h4><span class="gt">&nbsp;/&gt;</span>
    <ISS />
    <p>An interactive tracker of the International Space Station.</p>
    <div class="project-links">
      <a href="https://live-tracker-iss.netlify.app/" target="#">Live Project</a
      >
      <a href="https://github.com/contreau/ISS" target="#">Source Code</a>
    </div>
    <div class="icon-row">
      <div class="tooltip">
        <Image
          src="/javascript-50.svg"
          alt="JavaScript"
          width="50"
          height="50"
        />
        <div class="top">
          <span>JavaScript</span>
          <i></i>
        </div>
      </div>
      <div class="tooltip">
        <Image src="/css-50.svg" alt="CSS3" width="50" height="50" />
        <div class="top">
          <span>CSS3</span>
          <i></i>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <span class="lt">&lt;&nbsp;</span>
    <h4>Darqnet</h4><span class="gt">&nbsp;/&gt;</span>
    <Darqnet />
    <p>Custom UI developed for a cryptographic 'ceremony' (Web3)</p>
    <div class="project-links">
      <a href="https://github.com/darqnet/darqnet-ceremony" target="#"
        >Source Code</a
      >
    </div>
    <div class="icon-row">
      <div class="tooltip">
        <Image src="/vue-50.svg" alt="Vue" width="50" height="50" />
        <div class="top tooltip">
          <span>Vue</span>
          <i></i>
        </div>
      </div>
      <div class="tooltip">
        <Image
          src="/javascript-50.svg"
          alt="JavaScript"
          width="50"
          height="50"
        />
        <div class="top">
          <span>JavaScript</span>
          <i></i>
        </div>
      </div>
      <div class="tooltip">
        <Image src="/css-50.svg" alt="CSS3" width="50" height="50" />
        <div class="top">
          <span>CSS3</span>
          <i></i>
        </div>
      </div>
    </div>
  </div>
</section>

<h3>
  <span style="color: #4c7cc8">&#123;</span> Creative Works <span
    style="color: #4c7cc8">&#125;</span
  >
</h3>
<section class="portfolio-grid creative-works">
  <div class="grid-item">
    <span class="lt">&lt;&nbsp;</span>
    <h4>Particles</h4><span class="gt">&nbsp;/&gt;</span>
    <Particles />
    <p>A customizable infinite particle display.</p>
    <div class="project-links">
      <a href="https://contreau.github.io/particles/" target="#">Live Project</a
      >
      <a href="https://github.com/contreau/particles" target="#">Source Code</a>
    </div>
    <div class="icon-row">
      <div class="tooltip">
        <Image
          src="/javascript-50.svg"
          alt="JavaScript"
          width="50"
          height="50"
        />
        <div class="top">
          <span>JavaScript</span>
          <i></i>
        </div>
      </div>
      <div class="tooltip">
        <Image src="/sass-50.svg" alt="Sass" width="50" height="50" />
        <div class="top wide-tooltip">
          <span>Sass/SCSS</span>
          <i></i>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <span class="lt">&lt;&nbsp;</span>
    <h4>Koi Pond</h4><span class="gt">&nbsp;/&gt;</span>
    <Koi />
    <p>A tranquil koi pond made of pure CSS.</p>
    <div class="project-links">
      <a href="https://contreau.github.io/koi-pond/" target="#">Live Project</a>
      <a href="https://github.com/contreau/koi-pond" target="#">Source Code</a>
    </div>
    <div class="icon-row">
      <div class="tooltip">
        <Image src="/css-50.svg" alt="CSS3" width="50" height="50" />
        <div class="top">
          <span>CSS3</span>
          <i></i>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item full-span">
    <span class="lt">&lt;&nbsp;</span>
    <h4>Fireworks</h4><span class="gt">&nbsp;/&gt;</span>
    <Firework />
    <p>Customize a simple, personal firework show.</p>
    <div class="project-links">
      <a href="https://contreau.github.io/fireworks/" target="#">Live Project</a
      >
      <a href="https://github.com/contreau/fireworks" target="#">Source Code</a>
    </div>
    <div class="icon-row">
      <div class="tooltip">
        <Image
          src="/javascript-50.svg"
          alt="JavaScript"
          width="50"
          height="50"
        />
        <div class="top">
          <span>JavaScript</span>
          <i></i>
        </div>
      </div>
      <div class="tooltip">
        <Image src="/css-50.svg" alt="CSS3" width="50" height="50" />
        <div class="top">
          <span>CSS3</span>
          <i></i>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- </Layout> -->

<style lang="scss">
  // h2 {
  //   opacity: 0;
  //   animation: fadeIn 0.3s ease-in forwards;
  // }
  // h3:first-of-type {
  //   opacity: 0;
  //   animation: fadeIn 0.3s 0.4s ease-in forwards;
  // }

  .portfolio-grid {
    // opacity: 0;
    // animation: fadeIn 0.3s 0.68s ease-in forwards;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .grid-item {
      text-align: center;
      border-radius: 15px;
      padding: 1em;
      background-color: #ffffff69;
      transition: 0.4s all;
      &:hover {
        background-color: #ffffffc8;
      }

      p {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
      }

      .project-links {
        max-width: fit-content;
        margin: 0 auto;
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        gap: 1rem;
        a {
          font-size: 1.1rem;
          font-weight: 600;
          text-decoration: none;
          padding: 0.1em 0.7em;
          border-radius: 30px;
          background-color: var(--accent);
          color: var(--text);
          transition: 0.3s all;
          &:hover {
            background-color: #1b3789;
          }
        }
      }

      .icon-row {
        max-width: fit-content;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        border-radius: 15px;
        padding: 0.4em 1.2em;
      }

      .main-icon {
        margin: 0 auto;
        animation: rotate 10s linear infinite;
      }

      @keyframes rotate {
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .creative-works {
    margin-bottom: 2.5rem;
  }

  .full-span {
    grid-column: span 2;
  }

  h3 {
    text-align: center;
    font-weight: 500;
  }

  h4 {
    font-weight: 550;
    display: inline-block;
  }

  .lt,
  .gt {
    font-size: 1.5rem;
    font-weight: 500;
    --tag-color: #4c7cc8;
    color: var(--tag-color);
  }

  @media (max-width: 900px) {
    .portfolio-grid {
      display: block;
    }

    .grid-item + .grid-item {
      margin-top: 2rem;
    }

    .creative-works:last-child {
      margin-bottom: 2rem;
    }

    .content-grid {
      margin-bottom: 15rem;
    }
  }

  @media (max-width: 375px) {
    .project-links {
      flex-direction: column;
    }
  }
</style>
