---
const { projectName, projectDescription, projectURL } = Astro.props;
interface Props {
  projectName: string;
  projectDescription: string;
  projectURL: string;
}
---

<div class="project-item">
  <div class="item-visual">
    <slot name="project-visual" />
  </div>
  <div class="item-info">
    <p class="project-name">
      <a href={projectURL} target="_blank">{projectName}</a>
    </p>
    <p class="project-description">
      {projectDescription}
    </p>
    <slot name="chip" />
  </div>
</div>

<style scoped>
  .project-item {
    display: flex;
    gap: 3rem;
    align-items: center;
    p {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }

  .project-name {
    font-size: clamp(0.8rem, 6vw, 1rem);
    font-weight: 500;

    a {
      color: var(--primary);
    }
  }

  .project-description {
    font-size: clamp(0.85rem, 4vw, 1rem);
    font-style: italic;
  }

  @media (max-width: 1100px) {
    .project-item {
      flex-direction: column;
      text-align: center;
      align-items: center;
      gap: 1rem;
    }
    .project-description {
      max-width: 100%;
      text-wrap: balance;
    }

    .project-name {
      text-wrap: balance;
    }
  }
</style>
