---
const { projectName, projectDescription, projectURL } = Astro.props;
interface Props {
  projectName: string;
  projectDescription: string;
  projectURL: string;
}
---

<div class="project-item">
  <div class="item-visual">
    <slot name="project-visual" />
  </div>
  <div class="item-info">
    <p class="project-name">
      <a href={projectURL} target="_blank">{projectName}</a>
    </p>
    <p class="project-description">
      {projectDescription}
    </p>
    <slot name="chip" />
  </div>
</div>

<style scoped>
  .project-item {
    display: flex;
    gap: 3rem;
    align-items: center;
    p {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }

  .project-name {
    font-size: 1.2rem;
    font-weight: 500;

    a {
      color: var(--primary);
    }
  }

  .project-description {
    font-size: 1rem;
    font-style: italic;
    /* text-wrap: balance; */
  }

  @media (max-width: 750px) {
    .project-description {
      font-size: 0.85rem;
    }
  }
</style>
