---
import StackTable from "@components/lists/StackTable.astro";
---

<section>
  <h2>Stack</h2>

  <StackTable />
</section>

<style>
  section {
    min-height: 100vh;
    min-height: 100svh;
  }
  h2 {
    margin-bottom: 3rem;
  }
</style>
