@use "animations";

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Nunito+Sans:wght@200;400&display=swap");

:root {
  --blue: #046ef9;
  --bg-color: #161616;
  --mobile-btn: #0047b0;
  --mobile-btn-shadow: #2c73be;
  --mobile-btn-border: #63a6ed9d;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
}

// CSS Resets

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button {
  font: inherit;
}

// Animation imports (located in _animations.scss)
@include animations.kf-blink(blink);
@include animations.kf-fadeIn(fadeIn);
@include animations.kf-fadeOut(fadeOut);
@include animations.kf-twirl(twirl);
@include animations.kf-shimmyBl(shimmyBl, 1, 0);
@include animations.kf-shimmyWh(shimmyWh, 1, 0);
@include animations.kf-symbolOpen(symbolOpen);
@include animations.kf-growFont(growFont);
@include animations.kf-mobileMenuPop(mobileMenuPop);
@media (min-width: 899px) {
  @include animations.kf-shimmyBl(shimmyBl, 1, 1);
  @include animations.kf-shimmyWh(shimmyWh, 1, 1);
  .blDot {
    animation: shimmyBl 1.8s 0.4s ease-in-out forwards;
  }
  .whDot {
    animation: shimmyWh 1.8s 0.4s ease-in-out forwards;
  }
  // .title {
  //   animation: fadeIn 0.5s 3.3s ease-in forwards;
  // }
  // .tagline {
  //   animation: fadeIn 0.5s 3.6s ease-in forwards;
  // }
  .mobileMenu--btn {
    animation: fadeIn 0.5s 4s ease-in forwards;
  }
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  // background-image: url("/polygon-scatter.svg");
  background-position: bottom left;
  background-size: 150%;
  // background-image: url("/layered-waves-top--blue.svg");
}

.greeting-section {
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 0 1em 1em 1em;
}

// Header
.title,
.tagline {
  opacity: 0;
}

.header {
  position: relative;
  z-index: 0;
  // border: solid 1px #fff;
  display: grid;
  justify-content: center;
  padding-bottom: 4.5em;
  .title {
    // border: solid 1px lightblue;
    text-align: center;
    font-family: "Maven Pro", sans-serif;
    font-weight: 500;
    font-size: clamp(2.5rem, 8vw, 4rem);
    margin: 0;
    animation: mobileMenuPop 0.5s 0.6s ease-in forwards;
  }
  .tagline {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 200;
    font-size: clamp(1.3rem, 3vw, 1.7rem);
    margin: 0.5rem 0 1.5rem 0;
    text-align: center;
    animation: mobileMenuPop 0.5s 0.8s ease-in forwards;
  }
}

@mixin for-phone-only {
  @media (max-width: 450px) {
    @content;
  }
}

.phone-only--header-svg {
  @include for-phone-only {
    background-image: url("/portfolio/mobile-bg-waves.svg");
  }
}

.phone-only--bg-svg {
  @include for-phone-only {
    background-image: url("/portfolio/mobile-bg-polygon.svg");
  }
}
