---
const { description } = Astro.props;
const currentPath = Astro.url.pathname;
const date = new Date().getFullYear();
import Image from "astro/components/Image.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      property="og:image"
      content="https://conorkelley.me/ck-og-img-min.jpg"
    />
    <meta property="og:type" content="website" />
    <title>Conor Kelley</title>
    <meta name="title" content=`Conor Kelley` />
    <meta property="og:title" content=`Conor Kelley` />
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <slot name="metadata" />
  </head>
  <body>
    <main>
      <header>
        <Image
          src={"/me-min.png"}
          height="75"
          width="75"
          alt="Headshot of Conor Kelley"
        />
        <div>
          <h1 class="title-name">
            <span style="color: var(--primary);">Conor</span>Kelley
          </h1>
          <span style="color: var(--text);">Web Developer</span>
        </div>
      </header>
      <slot />
    </main>

    <footer>
      <p>&copy; {date} • CK</p>
    </footer>
  </body>
</html>

<style lang="scss" is:global>
  :root {
    --text: #b4b4b4;
    --background: #161616;
    --primary: #ffffff;
    --page-padding: 0 15em;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-size: 112.5%; /*18px*/
    width: 100vw;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
    display: block;
  }

  body {
    position: relative;
    font-weight: 400;
    line-height: 1.75;
    background-color: var(--background);
    color: var(--text);
    font-family: system-ui;
  }

  main {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 640px;
  }

  header {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    gap: 1.5rem;
  }

  /* Font Configurations */

  p {
    font-size: 1.125rem;
  }

  h1,
  h2,
  h3 {
    font-family: system-ui;
    line-height: 1.3;
  }

  h1 {
    font-weight: 550;
    margin-bottom: 0;
    margin-top: 0;
  }

  h2,
  h3 {
    font-weight: 350;
    color: var(--primary);
  }

  footer {
    text-align: center;
    p {
      padding: 1.5em 0 0 0;
      color: var(--text);
      font-weight: 500;
    }
  }
</style>
