---
// Supports weights 400-900
import '@fontsource-variable/maven-pro';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conor Kelley | Home</title>
    <!-- <link rel="shortcut icon" type="image/png" href="./public/favicon.png" /> -->
    <script
      src="https://kit.fontawesome.com/efd48c9e56.js"
      crossorigin="anonymous"></script>
  </head>
  <body class="phone-only--bg-svg">
    <section class="greeting-section">
      <header class="header container header-background phone-only--header-svg">
        <h1 class="title">conor kelley</h1>
        <h2 class="tagline"><span>Web Developer</span></h2>
      </header>
    </section>
    <slot/>
  </body>
</html>

<style lang="scss" is:global>
  :root {
    --text: #ddf9fd;
    --background: #000405;
    --primary: #f98c7b;
    --secondary: #033c44;
    --accent: #f43b1f;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  html, body {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Maven Pro Variable', sans-serif;
    background-color: var(--background);
    color: var(--text);
    h1 {
      color: var(--primary);
    }
  }
</style>