---
// Supports weights 400-900
import "@fontsource-variable/maven-pro";
import "@fontsource/open-sans";
// Supports weights 200-900
import "@fontsource-variable/source-code-pro";
import { Image } from "astro:assets";
const currentPath = Astro.url.pathname;
const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
let homeLink = "";
let portfolioLink = "";
if (currentPath === "/") {
  homeLink = "invisible";
} else if (currentPath === "/portfolio/") {
  portfolioLink = "invisible";
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conor Kelley | {title}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <ViewTransitions fallback="animate" />
  </head>
  <body>
    <header>
      <h1 class="tagline">
        conor kelley&nbsp;<span>&#123;web developer&#125;</span>
      </h1>
    </header>
    <section class="content-grid">
      <nav class="sidebar-menu">
        <ul class="menu-items">
          <li class={homeLink}>
            <a href="/" class={currentPath === "/" ? "active" : ""}>~/</a>
          </li>
          <li class={portfolioLink}>
            <a
              href="/portfolio/"
              class={currentPath === "/portfolio/" ? "active" : ""}
              >/portfolio</a
            >
          </li>
        </ul>
        <div
          class="emblem emblem-1"
          style="padding-top: 0.5em; padding-bottom: 1em;"
        >
          <span style="color: var(--accent)"
            >&#123;<span style="color: #fff">&#9670;</span>&#125;</span
          >
        </div>
        <div class="social-list">
          <a class="github-link" href="https://github.com/zenDev-2" target="#">
            <Image src="/github-65.svg" alt="GitHub" width="50" height="50" />
          </a>
          <a href="https://www.linkedin.com/in/conor-kelley2/" target="#">
            <Image
              src="/linkedin-65.svg"
              alt="LinkedIn"
              width="65"
              height="65"
            />
          </a>
          <a href="mailto:cfk102@gmail.com" target="#">
            <Image src="/mail-65.svg" alt="Email" width="65" height="65" />
          </a>
          <a href="https://www.instagram.com/__ckphoto/" target="#">
            <Image
              src="/instagram-65.svg"
              alt="Instagram"
              width="65"
              height="65"
            />
          </a>
        </div>
        <div
          class="emblem emblem-2"
          style="padding-bottom: 0; padding-top: 1em;"
        >
          <span style="color: var(--accent)"
            >&#123;<span style="color: #fff">&#9670;</span>&#125;</span
          >
        </div>
      </nav>
      <main><slot /></main>
    </section>
    <style lang="scss" is:global>
      :root {
        --text: #f8f9fc;
        --background: #06070e;
        --primary: #a0b0f8;
        --secondary: #0f1324;
        --accent: #3a61d4;
        // --accent: #3e5be3; (former accent color)
      }

      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      html {
        font-size: 112.5%; /*18px*/
        width: 100vw;
        overflow-x: hidden;
      }

      html,
      body {
        margin: 0;
        padding: 0;
      }

      img {
        max-width: 100%;
        display: block;
      }

      body {
        // font-family: 'Open Sans Variable', sans-serif;
        font-weight: 400;
        line-height: 1.75;
        font-family: "Maven Pro Variable", sans-serif;
        background-color: var(--background);
        color: var(--text);
        min-height: 100vh;
        max-width: 1500px;
        margin: 0 auto;
      }

      header {
        position: sticky;
        top: 0;
        z-index: 5;
        background-color: var(--background);
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px #1a203b;
        padding: 0.5em 1.5em;
        h1 {
          margin: 0 0 0.5rem 0;
          font-weight: 500;
          font-size: clamp(1.8rem, 10vw, 2.288rem);
          text-align: center;
          span {
            font-weight: 450;
            background: linear-gradient(120deg, var(--accent), var(--primary));
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
          }
        }
      }

      .emblem {
        font-size: 1.728rem;
        font-weight: 500;
        text-align: center;
      }

      section.content-grid {
        display: grid;
        grid-template-columns: 20% 80%;
        padding: 0em 1em 0em 0em;
      }

      nav {
        position: sticky;
        top: 5rem;
        align-self: start;

        .social-list {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1.5rem;
          img {
            transition: 0.2s all;
            &:hover {
              filter: drop-shadow(0 0 1.5rem var(--accent));
            }
          }
          .github-link {
            margin-top: 15px;
          }
        }
      }

      .social-list-mobile {
        display: none;
      }

      .menu-items {
        font-family: "Source Code Pro Variable", sans-serif;
        list-style-type: none;
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 1rem;
        padding-left: 16%;
        padding-right: 20%;

        li {
          a {
            color: var(--text);
            text-decoration: none;
            padding: 0.1em 0.7em;
            transition: 0.3s all;
            &:hover {
              font-weight: 500;
              text-decoration: none;
              border-radius: 10px;
              background-color: var(--accent);
              color: var(--text);
            }
          }
        }

        li + li {
          margin-top: 1.5rem;
        }
      }

      li a.active {
        font-weight: 500;
        text-decoration: none;
        border-radius: 10px;
        background-color: var(--accent);
        color: var(--text);
      }

      main {
        padding: 1rem 5.1rem 1rem 2rem;

        h2 {
          margin-top: 0;
        }
      }

      a {
        color: var(--accent);
      }

      // Tooltip
      .tooltip {
        display: inline-block;
        position: relative;
        text-align: center;
        transition: 0.3s all;
        &:hover {
          transform: scale(1.2);
        }
      }

      .tooltip .top {
        min-width: fit-content;
        top: -20px;
        left: 50%;
        transform: translate(-50%, -100%);
        padding: 10px 20px;
        color: #ffffff;
        background-color: #06070e;
        font-weight: normal;
        font-size: 0.9rem;
        border-radius: 8px;
        position: absolute;
        z-index: 99999999;
        box-sizing: border-box;
        border: 1px solid var(--accent);
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
        display: none;
      }

      .tooltip .wc-tooltip {
        min-width: 175px;
      }

      .tooltip:hover .top {
        display: block;
      }

      .tooltip .top i {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -12px;
        width: 24px;
        height: 12px;
        overflow: hidden;
      }

      .tooltip .top i::after {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: #06070e;
        border: 1px solid var(--accent);
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      }

      // Font Configurations ** //

      p {
        font-size: 1.125rem;
        margin-bottom: 1rem;
      }

      h1,
      h2,
      h3,
      h4,
      h5 {
        margin: 2rem 0 1.38rem;
        font-family: "Maven Pro Variable", sans-serif;
        font-weight: 400;
        line-height: 1.3;
      }

      h1 {
        margin-top: 0;
        font-size: 2.288rem;
      }

      h2 {
        font-size: 2.074rem;
        color: var(--primary);
        font-weight: 650;
        text-align: center;
      }

      h3 {
        font-size: 1.728rem;
      }

      h4 {
        margin-top: 0.5rem;
        font-size: 1.44rem;
        color: var(--primary);
      }

      h5 {
        font-size: 1.2rem;
      }

      small,
      .text_small {
        font-size: 0.833rem;
      }

      // ** //

      @media (max-width: 900px) {
        main h2 {
          margin-top: 1.5rem;
        }

        .invisible {
          display: none;
        }

        .menu-items {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0;
          margin: 0;
          margin-top: 0.5rem;
          gap: 0.4rem;

          li a {
            font-size: 1.3rem;
            font-weight: 500;
            text-decoration: none;
            padding: 0.1em 0.7em;
            border-radius: 10px;
            background-color: var(--accent);
            color: var(--text);
          }

          li + li {
            margin-top: 0;
          }
        }

        .emblem-1,
        .emblem-2 {
          display: none;
        }

        nav .social-list {
          display: none;
        }

        section.content-grid {
          grid-template-columns: 1fr;
          justify-content: center;
          padding: 0 0.5em;
        }

        main {
          padding: 0 0.5em;
        }

        header,
        nav {
          position: static;
        }
      }

      @media (max-width: 605px) {
        header {
          .tagline span {
            display: block;
          }
        }
      }
    </style>
  </body>
</html>
