---
const { description } = Astro.props;
const date = new Date().getFullYear();
const { indexIsActive, portfolioIsActive, musingsIsActive } = Astro.props;
import GithubSVG from "../svg/GithubSVG.astro";
import LinkedinSVG from "../svg/LinkedinSVG.astro";
import EmailSVG from "../svg/EmailSVG.astro";
import ResumeSVG from "../svg/ResumeSVG.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta property="og:type" content="website" />
    <title>Conor Kelley</title>
    <meta name="title" content=`Conor Kelley` />
    <meta property="og:title" content=`Conor Kelley` />
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <slot name="metadata" />
    <script>
      const header = document.querySelector("header");
      const stored_classes = sessionStorage.getItem("animatedHeader");
      if (stored_classes === null) {
        sessionStorage.setItem("animatedHeader", "true");
      } else if (stored_classes === "true") {
        header.classList.remove("animated-header");
      }
    </script>
  </head>
  <body>
    <header>
      <div>
        <h1 class="title-name">
          <a href="/"
            ><span style="color: var(--primary);">Conor</span><span
              style="color: var(--light-text);">Kelley</span
            ></a
          >
        </h1>
      </div>
      <nav>
        <ul>
          <li class:list={["", { active: indexIsActive }]}><a href="/">About</a></li>
          <li class:list={["", { active: portfolioIsActive }]}>
            <a href="/portfolio">Portfolio</a>
          </li>
          <li class:list={["", { active: musingsIsActive }]}><a href="/musings">Musings</a></li>
        </ul>
      </nav>
    </header>
    <slot />
    <footer>
      <div class="social-links">
        <ul>
          <li>
            <a href="mailto:cfk102@gmail.com" target="_blank" aria-label="Email"><EmailSVG /></a>
          </li>
          <li>
            <a href="https://github.com/contreau" target="_blank" aria-label="Github Profile"
              ><GithubSVG /></a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/conor-kelley2/"
              target="_blank"
              aria-label="Linkedin Profile"><LinkedinSVG /></a
            >
          </li>
          <li class="cv">
            <a href="/cv.pdf" target="_blank" aria-label="Curriculum Vitae / Resume"
              ><ResumeSVG /></a
            >
          </li>
        </ul>
      </div>
      <p>&copy; {date} <span style="color: var(--primary)">•</span> Conor Kelley</p>
    </footer>
  </body>
</html>

<style is:global>
  :root {
    --text: #000000;
    --white: #ffffff;
    --light-background: #ffffff;
    --primary: #2059cb;
    --light-text: #090909;
    --dark-text: #ffffff;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-size: 112.5%; /*18px*/
    width: 100vw;
    scroll-behavior: smooth;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
    display: block;
    height: auto;
  }

  body {
    font-weight: 400;
    line-height: 1.75;
    background-color: var(--light-background);
    color: var(--light-text);
    font-family: system-ui;
    /* padding-inline: 2em; */
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }

  /* Font Configurations */

  p {
    font-size: clamp(0.85rem, 5vw, 1.05rem);
    /* font-size: 1.05rem; */
  }

  h1,
  h2,
  h3 {
    font-family: system-ui;
    line-height: 1.3;
  }

  h1 {
    font-size: clamp(2.5rem, 9vw, 6.5rem);
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;

    a {
      text-decoration: none;
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 550;
    color: var(--light-text);
  }

  h3 {
    color: var(--white);
    font-weight: 425;
    font-size: 1.3rem;
  }

  header {
    margin-top: 3.5rem;
  }

  nav {
    padding-left: 0.2em;
  }

  nav ul {
    display: flex;
    gap: 3rem;
    padding-left: 0;

    li {
      list-style-type: none;
      position: relative;
      font-size: clamp(1rem, 6vw, 1.4rem);
    }

    li.active {
      color: var(--primary);
    }

    li.active::after {
      content: "";
      position: absolute;
      width: 6.5px;
      height: 6.5px;
      background-color: var(--primary);
      border-radius: 50%;
      bottom: -28%;
      transform: translate(-50%, -50%);
      left: 50%;
    }

    li.active a {
      color: var(--primary);
    }

    a {
      text-decoration: none;
      color: var(--text);
      font-weight: 550;
      transition: color 200ms;
    }

    a:hover {
      color: var(--primary);
    }
  }

  section {
    margin-block: 2rem;
    min-height: 308px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    border-top: solid 2px #74757b;
    padding-top: 0.5em;

    p {
      margin-block: 0;
      color: #74757b;
      font-weight: 350;
    }
  }

  div.social-links ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 0;
    margin-block: 0;

    li {
      list-style-type: none;
      padding: 0em 0.6em;
      border-radius: 5px;
      padding-inline: 0;
      a {
        text-decoration: none;
        color: #74757b;
        transition: color 200ms;
      }

      a:hover {
        color: var(--primary);
      }
    }
  }

  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }

  @media (max-width: 800px) {
    nav ul {
      gap: 1.5rem;
    }

    header {
      margin-inline: auto;
      text-align: center;
      margin-top: 1rem;
    }

    footer {
      align-items: center;

      p {
        min-height: 44px;
      }
    }
  }

  @media (width <= 380px) {
    footer {
      flex-direction: column;
    }
  }

  @media (max-width: 1200px) {
    body {
      padding-inline: 1em;
    }
  }
</style>
