---
const { description } = Astro.props;
const date = new Date().getFullYear();
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta property="og:type" content="website" />
    <title>Conor Kelley</title>
    <meta name="title" content=`Conor Kelley` />
    <meta property="og:title" content=`Conor Kelley` />
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <slot name="metadata" />
    <script>
      const header = document.querySelector("header");
      const stored_classes = sessionStorage.getItem("animatedHeader");
      if (stored_classes === null) {
        sessionStorage.setItem("animatedHeader", "true");
      } else if (stored_classes === "true") {
        header.classList.remove("animated-header");
      }
    </script>
  </head>
  <body>
    <main>
      <header class="animated-header">
        <a href="/">
          <picture>
            <source srcset="/me-min.png" height="75" width="75" media="(max-width: 600px)" />
            <source
              srcset="/me-min.png"
              height="
              150"
              width="150"
              media="(min-width: 601px)"
            />
            <img
              src="/me-min.png"
              height="75"
              width="75"
              alt="Headshot of Conor Kelley"
              loading="eager"
            />
          </picture>
        </a>
        <div>
          <h1 class="title-name">
            <a href="/"
              ><span style="color: var(--primary);">Conor</span><span style="color: #efefef;"
                >Kelley</span
              ></a
            >
          </h1>
          <p class="title-profession" style="color: var(--text);">Web Developer</p>
        </div>
      </header>
      <slot />
    </main>

    <footer>
      <p>&copy; {date} <span style="color: var(--primary)">•</span> Conor Kelley</p>
    </footer>
  </body>
</html>

<style is:global>
  :root {
    --text: #000000;
    --white: #ffffff;
    --light-background: #ffffff;
    --primary: #70a4f0;
    --light-text: #090909;
    --dark-text: #ffffff;
    --page-padding: 0 15em;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-size: 112.5%; /*18px*/
    width: 100vw;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
    display: block;
    height: auto;
  }

  body {
    font-weight: 400;
    line-height: 1.75;
    background-color: var(--light-background);
    color: var(--light-text);
    font-family: system-ui;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(8px);
      filter: blur(5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
      filter: blur(0px);
    }
  }

  a {
    color: var(--white);
    transition: color 0.2s;
    &:hover {
      color: var(--primary);
    }
  }

  /* main {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 750px;
  } */

  header {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    gap: 1.5rem;
  }

  .animated-header {
    opacity: 0;
    animation: fadeIn 0.55s ease-in forwards;
  }

  .title-profession {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
  }

  h1 a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: var(--text);
    }
  }

  /* Font Configurations */

  p {
    font-size: 1.05rem;
  }

  h1,
  h2,
  h3 {
    font-family: system-ui;
    line-height: 1.3;
  }

  h1 {
    font-weight: 550;
    margin-bottom: 0;
    margin-top: 0;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 425;
    color: var(--primary);
  }

  h3 {
    color: var(--white);
    font-weight: 425;
    font-size: 1.3rem;
  }

  footer {
    text-align: center;
    p {
      padding: 1.5em 0 0 0;
      color: var(--text);
      font-weight: 500;
    }
  }

  @media (min-width: 601px) {
    h1 {
      font-size: 2.5rem;
    }
    .title-profession {
      font-size: 1.25rem;
    }
  }

  @media (max-width: 750px) {
    main {
      padding-inline: 1em;
    }
    p {
      font-size: 0.9rem;
    }
  }
</style>
