---
import Layout from "../../layouts/Layout.astro";
import Project from "../../components/projects/Project.astro";
import PortfolioSection from "../../components/projects/PortfolioSection.astro";
import ProjectRow from "../../components/projects/ProjectRow.astro";
import Chip from "../../components/chips/Chip.astro";

const heading = "Boston University School of Medicine";
---

<Layout
  portfolioIsActive="true"
  pathName="portfolio/busom"
  title={heading}
  description="Web design work for the Boston University School of Medicine."
  ogURL="https://conorkelley.me/portfolio/busom"
>
  <div class="portfolio">
    <PortfolioSection heading={heading} timeline="January - August 2022" companyAbbr="bu">
      <p class="description" slot="description">
        I redesigned two websites for the BU School of Medicine, both of which involved implementing
        new layout markup and CSS styles within the underlying BU WordPress CMS.
      </p>
      <ProjectRow>
        <Project
          slot="column-1"
          projectName="Department of Pharmacology Website"
          projectDescription="Collaborated with faculty for feature and design needs, wrote extensive new CSS styles, procured and optimized site assets."
          projectURL="https://www.bumc.bu.edu/ppb/"
        >
          <Chip slot="chip" abbr="css" />
          <Chip slot="chip" abbr="wp" />
        </Project>
        <Project
          slot="column-2"
          projectName="Office of Financial and Grants Administration Website"
          projectDescription="Wrote new CSS styles, procured assets, photographed staff headshots and other site imagery."
          projectURL="https://www.bumc.bu.edu/ofga/"
        >
          <Chip slot="chip" abbr="css" />
          <Chip slot="chip" abbr="wp" />
        </Project>
      </ProjectRow>
    </PortfolioSection>
  </div>
</Layout>

<style>
  .portfolio {
    opacity: 0;
    animation:
      fadeIn 500ms ease-in forwards,
      shiftDown 500ms ease-in forwards;
  }
</style>
