---
import Layout from "../../layouts/Layout.astro";

const heading = "Portfolio";
const description = "Professional and personal development work.";
---

<Layout
  portfolioIsActive="true"
  pathName="portfolio"
  title={heading}
  description={description}
  ogURL="https://conorkelley.me/portfolio"
>
  <section class="portfolio">
    <h2>{heading}</h2>
    <p class="description">{description}</p>
    <ul>
      <li><a href="portfolio/gwmedicine">GW Medicine</a> (current employment)</li>
      <li><a href="portfolio/busom">Boston University School of Medicine</a></li>
      <li><a href="portfolio/web-apps">Web Apps</a> (personal projects)</li>
    </ul>
  </section>
</Layout>

<style>
  ul {
    padding-left: 0;
    margin-block: 1rem;
  }

  li {
    list-style-position: inside;
    font-size: clamp(0.85rem, 3.5vw, 1rem);

    a {
      color: var(--primary);
    }
  }

  li + li {
    margin-top: 1.5rem;
  }

  @media (max-width: 1100px) {
    li {
      list-style-type: none;
      text-align: center;
    }
  }
</style>
