---
import Layout from "../../layouts/Layout.astro";
const heading = "Portfolio";
const description = "Professional and personal development work.";
---

<Layout
  portfolioIsActive="true"
  pathName="portfolio"
  title={heading}
  description={description}
  ogURL="https://conorkelley.me/portfolio"
>
  <section class="portfolio">
    <div class="grid-item">
      <h2>{heading}</h2>
      <p class="description">{description}</p>
      <ul>
        <li><a href="portfolio/gwmedicine">GW Medicine</a> (current employment)</li>
        <li><a href="portfolio/busom">Boston University School of Medicine</a></li>
        <li><a href="portfolio/web-apps">Web Apps</a> (personal projects)</li>
      </ul>
    </div>
    <div class="grid-item">
      <h2>Skill Summary</h2>
      <aside class="skills">
        <div class="skill-group">
          <h3>Core Functions</h3>
          <ul>
            <li>Development of User Interfaces, Webforms, and Custom Tools</li>
            <li>Performance + Accessibility Optimization</li>
            <li>Stakeholder Communication</li>
          </ul>
        </div>
        <div class="skill-group">
          <h3>Languages</h3>
          <ul>
            <li>HTML, CSS / SCSS</li>
            <li>JavaScript / TypeScript</li>
            <li>PHP</li>
            <li>Python</li>
            <li>SQL</li>
          </ul>
        </div>
        <div class="skill-group">
          <h3>Web Frameworks</h3>
          <ul>
            <li>Drupal</li>
            <li>Vue.js</li>
            <li>Svelte / SvelteKit</li>
            <li>Astro</li>
          </ul>
        </div>
        <div class="skill-group">
          <h3>Software</h3>
          <ul>
            <li>Photoshop / Lightroom</li>
            <li>REDCap</li>
            <li>SiteImprove</li>
          </ul>
        </div>
      </aside>
    </div>
  </section>
</Layout>

<style>
  .portfolio {
    opacity: 0;
    animation:
      fadeIn 500ms ease-in forwards,
      shiftUp 500ms ease-in forwards;
  }

  .grid-item + .grid-item {
    margin-block: 3rem;
  }

  .skills {
    display: grid;
  }

  .skills h3 {
    font-weight: 500;
    color: var(--primary);
    margin-block: 1.5rem;
    font-size: clamp(0.85rem, 5.5vw, 1.1rem);
  }

  .skills ul li + li {
    margin-top: 0.25rem;
  }

  ul {
    padding-left: 0;
    margin-block: 1rem;
  }

  li {
    margin-left: 1rem;
    font-size: clamp(0.9rem, 3.5vw, 1rem);

    a {
      color: var(--primary);
    }
  }

  li::marker {
    color: var(--primary);
  }

  li + li {
    margin-top: 1.5rem;
  }
</style>
