---
import Layout from "../../layouts/Layout.astro";
const heading = "Portfolio";
const description = "Professional and personal development work.";
import WorkSVG from "../../svg/WorkSVG.astro";
import ToolsSVG from "../../svg/ToolsSVG.astro";
import Designation from "../../components/chips/Designation.astro";
---

<Layout
  portfolioIsActive="true"
  pathName="portfolio"
  title={heading}
  description={description}
  ogURL="https://conorkelley.me/portfolio"
>
  <section class="portfolio">
    <div class="grid-item">
      <h2>{heading}</h2>
      <p class="description">{description}</p>
      <ul class="portfolio-page-list">
        <a href="portfolio/gwmedicine" data-astro-prefetch="viewport">
          <li><Designation><WorkSVG slot="svg" /></Designation>GW Medicine</li>
        </a>
        <a href="portfolio/busom" data-astro-prefetch="viewport">
          <li>
            <Designation><WorkSVG slot="svg" /></Designation>BU School of Medicine
          </li>
        </a>
        <a href="portfolio/web-apps" data-astro-prefetch="viewport">
          <li>
            <Designation><ToolsSVG slot="svg" /></Designation>Web Apps
          </li>
        </a>
      </ul>
    </div>
    <div class="grid-item">
      <h2>Skill Summary</h2>
      <aside class="skills">
        <div class="skill-group">
          <h3>Core Functions</h3>
          <ul>
            <li>Development of User Interfaces, Webforms, and Custom Tools</li>
            <li>Performance + Accessibility Optimization</li>
            <li>Stakeholder Communication</li>
          </ul>
        </div>
        <div class="skill-group">
          <h3>Languages</h3>
          <ul>
            <li>HTML, CSS / SCSS</li>
            <li>JavaScript / TypeScript</li>
            <li>PHP</li>
            <li>Python</li>
            <li>SQL</li>
          </ul>
        </div>
        <div class="skill-group">
          <h3>Web Frameworks</h3>
          <ul>
            <li>Vue.js</li>
            <li>Svelte / SvelteKit</li>
            <li>Drupal</li>
            <li>Astro</li>
          </ul>
        </div>
        <div class="skill-group">
          <h3>Software</h3>
          <ul>
            <li>Photoshop / Lightroom</li>
            <li>REDCap</li>
            <li>SiteImprove</li>
          </ul>
        </div>
      </aside>
    </div>
  </section>
</Layout>

<style>
  .portfolio {
    opacity: 0;
    animation:
      fadeIn 500ms ease-in forwards,
      shiftUp 500ms ease-in forwards;
  }

  .grid-item + .grid-item {
    margin-block: 3rem;
  }

  .portfolio-page-list {
    display: flex;
    flex-direction: column;
  }

  .portfolio-page-list li {
    list-style-type: none;
    margin-left: 0;
  }

  .portfolio-page-list a {
    --border-color: #cbcbcb;
    --border-width: 1.5px;
    color: var(--text);
    border-left: solid var(--border-width) var(--border-color);
    max-width: 380px;
    padding: 0.75em 0.75em;
    text-decoration: none;
    transition: 0.3s all;
    &:hover {
      background-color: #eeeeee;
    }
  }

  .portfolio-page-list a:first-child:hover {
    border-top-color: var(--border-color);
  }

  .portfolio-page-list a:nth-child(2) {
    border-top: solid var(--border-width) var(--border-color);
    border-bottom: solid var(--border-width) var(--border-color);
  }

  .portfolio-page-list a:last-child:hover {
    border-bottom-color: var(--border-color);
  }

  .skills {
    display: grid;
  }

  .skills h3 {
    font-weight: 500;
    color: var(--primary);
    margin-block: 1.5rem;
    font-size: clamp(0.85rem, 5.5vw, 1.1rem);
  }

  .skills ul li + li {
    margin-top: 0.25rem;
  }

  ul {
    padding-left: 0;
    margin-block: 1rem;
  }

  li {
    margin-left: 1rem;
    font-size: clamp(0.9rem, 3.5vw, 1rem);

    a {
      color: var(--primary);
    }
  }

  li::marker {
    color: var(--primary);
  }

  li + li {
    margin-top: 1.5rem;
  }
</style>
