---
import Layout from "../../../layouts/Layout.astro";
import Chip from "../../../components/chips/Chip.astro";
import { Image } from "astro:assets";
import oldProfileCard from "../../../img/old-provider-card-572x600.jpg";
import newProfileCard from "../../../img/new-provider-card-572x600.jpg";
import oldLocationCard from "../../../img/old-location-card-572x600.jpg";
import newLocationCard from "../../../img/new-location-card-572x600.jpg";
---

<script>
  // Control Buttons
  const beforeButton = document.querySelector("button.btn-before");
  const afterButton = document.querySelector("button.btn-after");
  // Toggled Content
  const beforeSection = document.querySelectorAll(".revealed-before");
  const afterSection = document.querySelectorAll(".revealed-after");

  // Click Listeners
  beforeButton.addEventListener("click", () => {
    // remove .active class from afterButton, hide afterSection
    afterButton.classList.remove("active");
    afterSection.forEach((element) => {
      element.setAttribute("aria-hidden", "true");
    });
    // set .active class on this button, reveal content
    beforeButton.classList.add("active");
    beforeSection.forEach((element) => {
      element.setAttribute("aria-hidden", "false");
    });
  });

  afterButton.addEventListener("click", () => {
    // remove .active class from beforeButton, hide beforeSection
    beforeButton.classList.remove("active");
    beforeSection.forEach((element) => {
      element.setAttribute("aria-hidden", "true");
    });
    // set .active class on this button, reveal content
    afterButton.classList.add("active");
    afterSection.forEach((element) => {
      element.setAttribute("aria-hidden", "false");
    });
  });
</script>

<Layout
  title="Location Card Redesign"
  description="A card style I developed for all location listings on the GW MFA website."
  portfolioIsActive="true"
  pathName="portfolio/gwmedicine/cards"
  ogURL="https://conorkelley.me/portfolio/gwmedicine/cards"
>
  <section>
    <h2>Cards: Providers and Locations</h2>
    <div class="languages">
      <Chip abbr="css" />
      <Chip abbr="drupal" />
    </div>
    <p class="subpage-description">
      Revamped card styles I developed for the listings of both <a
        href="https://gwdocs.com/profile"
        target="_blank">medical providers</a
      > and <a href="https://gwdocs.com/locations" target="_blank">location listings</a> on the GW Medical
      Faculty Associates website.
    </p>

    <div slot="content">
      <div class="reveal-buttons">
        <button data-content="before" class="btn-before">Old Style</button>
        <button data-content="after" class="btn-after active">Current Style</button>
      </div>

      <div class="grid-container">
        <!-- Before Content -->
        <h3>Provider Card</h3>
        <h3>Location Card</h3>
        <!-- Provider Before (hidden by default) -->
        <div class="revealed-content revealed-before" aria-hidden="true">
          <Image
            src={oldProfileCard}
            alt="Former card style showing a provider's headshot, name, specialty and phone number."
            layout="constrained"
            loading="eager"
            height="400"
          />
        </div>
        <!-- Location Before (hidden by default) -->
        <div class="revealed-content revealed-before" aria-hidden="true">
          <Image
            src={oldLocationCard}
            alt="Former card style of the 2300 M Street location, showing an image with bare styling on its name, address and links."
            layout="constrained"
            loading="eager"
            height="400"
          />
        </div>

        <!-- Provider After -->
        <div class="revealed-content revealed-after" aria-hidden="false">
          <Image
            src={newProfileCard}
            alt="Current card style with a grey-blue background color showing a provider's headshot, name, specialty and phone number with more explicit buttons and coloring."
            layout="constrained"
            loading="eager"
            height="400"
          />
        </div>
        <!-- Location After -->
        <div class="revealed-content revealed-after" aria-hidden="false">
          <Image
            src={newLocationCard}
            alt="Current card style of a GW MFA specialty location with a grey-blue background, neat image border radius and more explicit buttons and coloring."
            layout="constrained"
            loading="eager"
            height="400"
          />
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-bottom: 1.5rem;
  }

  .reveal-buttons {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    border-radius: 5px;
    margin-block: 1.5rem;
  }

  button {
    --btn-radius: 5px;
    font-family: system-ui;
    font-weight: 500;
    font-size: clamp(0.75rem, 3vw, 1rem);
    background-color: #e2e2e2;
    border: transparent;
    padding: 0.5em;
    cursor: pointer;
    transition: all 0.2s;
    color: #000000;
  }

  button:hover,
  button:focus-visible {
    background-color: #c8c8c8;
  }

  .btn-before {
    border-top-left-radius: var(--btn-radius);
    border-bottom-left-radius: var(--btn-radius);

    border-right: solid 4px #ffffff;
  }

  .btn-after {
    border-top-right-radius: var(--btn-radius);
    border-bottom-right-radius: var(--btn-radius);
  }

  div[aria-hidden="true"] {
    display: none;
  }

  button.active,
  button.active:hover,
  button.active.focus-visible {
    color: #ffffff;
    background-color: var(--primary);
  }

  section {
    opacity: 0;
    animation:
      fadeIn 500ms ease-in forwards,
      shiftDown 500ms ease-in forwards;
  }

  .languages {
    margin-block: 0.5rem;
    display: flex;
    align-items: center;
  }

  .description {
    text-wrap: balance;

    a {
      color: var(--primary);
    }
  }

  @media (max-width: 1100px) {
    .languages {
      justify-content: center;
    }
    h3 {
      text-align: center;
    }
  }
</style>
