---
import Layout from "../../../layouts/Layout.astro";
import Chip from "../../../components/chips/Chip.astro";
import SubpageContent from "../../../components/projects/SubpageContent.astro";
const description =
  "A GUI tool enabling quick generation of a faculty member's profile HTML to aid in updating any SMHS department faculty pages.";
---

<Layout
  title="Faculty Listing Builder"
  description={description}
  pathName="portfolio/gwmedicine/faculty-listing-builder"
  ogURL="https://conorkelley.me/portfolio/gwmedicine/faculty-listing-builder"
  portfolioIsActive="true"
>
  <SubpageContent title="Faculty Listing Builder">
    <Chip slot="languages" abbr="vue" />
    <Chip slot="languages" abbr="ts" />

    <p slot="subpage-description" class="subpage-description">
      A GUI tool I built for our web team allowing for quick generation of a faculty member's
      profile HTML. Used to assist in updating any of the 39 <a
        href="https://biochemistry.smhs.gwu.edu/faculty"
        target="_blank">faculty pages</a
      > across the School of Medicine & Health Sciences websites.
    </p>
    <div slot="content" class="content-grid">
      <div class="grid-item">
        <h3>Key features:</h3>
        <ul class="features-list">
          <li>Live preview as you type for both UI and HTML views.</li>
          <li>
            CSV processor that populates the tool's inputs with a given faculty member's information
            upon selecting their name. Allows for filtering by department.
          </li>
          <li>Keyboard shortcuts for adding and deleting titles and bulleted information.</li>
          <li>Single-click copying of the generated HTML.</li>
        </ul>
      </div>
      <div class="grid-item demo">
        <img
          src="/faculty-builder-min.gif"
          alt="Faculty Listing Builder Demo"
          height="500"
          width="1165"
          loading="eager"
        />
      </div>
    </div>
  </SubpageContent>
</Layout>

<style>
  h3 {
    margin-block: 0.5rem;
  }

  .languages {
    margin-block: 0.5rem;
    display: flex;
    align-items: center;
  }

  .features-list {
    text-wrap: balance;
    padding-left: 0;
    list-style-position: inside;
  }

  .features-list li {
    font-size: clamp(0.9rem, 3.5vw, 1rem);
  }

  .features-list li::marker {
    color: var(--primary);
  }

  .features-list li + li {
    margin-top: 1rem;
  }

  .content-grid {
    display: grid;
    grid-template-columns: 33% 65%;
    column-gap: 2%;
    place-items: center;
    margin-block: 1.5rem;
  }

  @media (max-width: 1100px) {
    .content-grid {
      grid-template-columns: 1fr;
      row-gap: 1.5rem;
    }
    .demo {
      order: -1;
    }
    h3 {
      text-align: center;
    }
    .features-list {
      text-wrap: wrap;
    }
  }
</style>
